# Stick to Gem versions used by GitHub Pages
# https://pages.github.com/versions/
Gemfile.lock

# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.ruby-version

#vs code
.vscode/

# tables
tables/*.ods

