<nav class="navigation">
  <div class="navigation__container">
    <label class="navigation__menu-toggle" for="menu"><span class="cross"></span></label>
    <div class="navigation__search">
      <input class="navigation__search-field" type="search" placeholder="Search docs">
    </div>
    <div class="navigation__category">The Zoo</div>
    <ul class="navigation__link-list">
      {% for link in site.nav.Zoo %}
        <li class="navigation__link-list-item{% if current_url == link.url %} navigation__link-list-item--active{% endif %}{% unless link.available %} navigation__link-list-item--unavailable{% endunless %}">
          <a class="navigation__link-list-link{% if current_url == link.url %} navigation__link-list-link--active{% endif %}" href="{{ link.url | prepend: site.baseurl }}">
            {{ link.text }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <div class="navigation__category">Figure of Merit (FOM)</div>
    <ul class="navigation__link-list">
      {% for link in site.nav.FOM %}
        <li class="navigation__link-list-item{% if current_url == link.url %} navigation__link-list-item--active{% endif %}{% unless link.available %} navigation__link-list-item--unavailable{% endunless %}">
          <a class="navigation__link-list-link{% if current_url == link.url %} navigation__link-list-link--active{% endif %}" href="{{ link.url | prepend: site.baseurl }}">
            {{ link.text }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <div class="navigation__category">Component-level benchmark</div>
    <ul class="navigation__link-list">
      {% for link in site.nav.Component-level %}
        <li class="navigation__link-list-item{% if current_url == link.url %} navigation__link-list-item--active{% endif %}{% unless link.available %} navigation__link-list-item--unavailable{% endunless %}">
          <a class="navigation__link-list-link{% if current_url == link.url %} navigation__link-list-link--active{% endif %}" href="{{ link.url | prepend: site.baseurl }}">
            {{ link.text }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <div class="navigation__category">System-level benchmark</div>
    <ul class="navigation__link-list">
      {% for link in site.nav.System-level %}
        <li class="navigation__link-list-item{% if current_url == link.url %} navigation__link-list-item--active{% endif %}{% unless link.available %} navigation__link-list-item--unavailable{% endunless %}">
          <a class="navigation__link-list-link{% if current_url == link.url %} navigation__link-list-link--active{% endif %}" href="{{ link.url | prepend: site.baseurl }}">
            {{ link.text }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <div class="navigation__category">Application-level benchmark</div>
    <ul class="navigation__link-list">
      {% for link in site.nav.Application-level %}
        <li class="navigation__link-list-item{% if current_url == link.url %} navigation__link-list-item--active{% endif %}{% unless link.available %} navigation__link-list-item--unavailable{% endunless %}">
          <a class="navigation__link-list-link{% if current_url == link.url %} navigation__link-list-link--active{% endif %}" href="{{ link.url | prepend: site.baseurl }}">
            {{ link.text }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <div class="navigation__category">Benchmarking datasets</div>
    <ul class="navigation__link-list">
      {% for link in site.nav.benchmarking-datasets %}
        <li class="navigation__link-list-item{% if current_url == link.url %} navigation__link-list-item--active{% endif %}{% unless link.available %} navigation__link-list-item--unavailable{% endunless %}">
          <a class="navigation__link-list-link{% if current_url == link.url %} navigation__link-list-link--active{% endif %}" href="{{ link.url | prepend: site.baseurl }}">
            {{ link.text }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <div class="navigation__category">Fault-tolerant QC</div>
    <ul class="navigation__link-list">
      {% for link in site.nav.Ftqc %}
        <li class="navigation__link-list-item{% if current_url == link.url %} navigation__link-list-item--active{% endif %}{% unless link.available %} navigation__link-list-item--unavailable{% endunless %}">
          <a class="navigation__link-list-link{% if current_url == link.url %} navigation__link-list-link--active{% endif %}" href="{{ link.url | prepend: site.baseurl }}">
            {{ link.text }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <div class="navigation__category">Business informations</div>
    <ul class="navigation__link-list">
      {% for link in site.nav.Business-informations %}
        <li class="navigation__link-list-item{% if current_url == link.url %} navigation__link-list-item--active{% endif %}{% unless link.available %} navigation__link-list-item--unavailable{% endunless %}">
          <a class="navigation__link-list-link{% if current_url == link.url %} navigation__link-list-link--active{% endif %}" href="{{ link.url | prepend: site.baseurl }}">
            {{ link.text }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>
