<nav class="navigation">
  <div class="navigation__container">
    <label class="navigation__menu-toggle" for="menu"><span class="cross"></span></label>
    <div class="navigation__search">
      <!--<input class="navigation__search-field" type="search" placeholder="Search docs">-->
      <input class="navigation__search-field" type="search" placeholder="Search docs">
    </div>
    <div class="navigation__category dropdown-btn">The Zoo <i class="fa fa-caret-down"></i></div>
    <ul class="navigation__link-list dropdown-container">
      {% for link in site.nav.Zoo %}
        <li class="navigation__link-list-item{% if page.navbar-page-id == link.page-id %} navigation__link-list-item--active{% endif %}{% unless link.available %} navigation__link-list-item--unavailable{% endunless %}">
          <a class="navigation__link-list-link{% if page.navbar-page-id == link.page-id %} navigation__link-list-link--active{% endif %}" href="{{ link.url | prepend: site.baseurl }}">
            {{ link.text }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <div class="navigation__category dropdown-btn">Figure of Merit (FOM) <i class="fa fa-caret-down"></i></div>
    <ul class="navigation__link-list dropdown-container">
      {% for link in site.nav.FOM %}
        <li class="navigation__link-list-item{% if page.navbar-page-id == link.page-id %} navigation__link-list-item--active{% endif %}{% unless link.available %} navigation__link-list-item--unavailable{% endunless %}">
          <a class="navigation__link-list-link{% if page.navbar-page-id == link.page-id %} navigation__link-list-link--active{% endif %}" href="{{ link.url | prepend: site.baseurl }}">
            {{ link.text }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <div class="navigation__category dropdown-btn">Component-level Bench <i class="fa fa-caret-down"></i></div>
    <ul class="navigation__link-list dropdown-container">
      {% for link in site.nav.Component-level %}
        <li class="navigation__link-list-item{% if page.navbar-page-id == link.page-id %} navigation__link-list-item--active{% endif %}{% unless link.available %} navigation__link-list-item--unavailable{% endunless %}">
          <a class="navigation__link-list-link{% if page.navbar-page-id == link.page-id %} navigation__link-list-link--active{% endif %}" href="{{ link.url | prepend: site.baseurl }}">
            {{ link.text }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <div class="navigation__category dropdown-btn">System-level Bench <i class="fa fa-caret-down"></i></div>
    <ul class="navigation__link-list dropdown-container">
      {% for link in site.nav.System-level %}
        <li class="navigation__link-list-item{% if page.navbar-page-id == link.page-id %} navigation__link-list-item--active{% endif %}{% unless link.available %} navigation__link-list-item--unavailable{% endunless %}">
          <a class="navigation__link-list-link{% if page.navbar-page-id == link.page-id %} navigation__link-list-link--active{% endif %}" href="{{ link.url | prepend: site.baseurl }}">
            {{ link.text }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <div class="navigation__category dropdown-btn">Application-level Bench <i class="fa fa-caret-down"></i></div>
    <ul class="navigation__link-list dropdown-container">
      {% for link in site.nav.Application-level %}
        <li class="navigation__link-list-item{% if page.navbar-page-id == link.page-id %} navigation__link-list-item--active{% endif %}{% unless link.available %} navigation__link-list-item--unavailable{% endunless %}">
          <a class="navigation__link-list-link{% if page.navbar-page-id == link.page-id %} navigation__link-list-link--active{% endif %}" href="{{ link.url | prepend: site.baseurl }}">
            {{ link.text }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <div class="navigation__category dropdown-btn">Multi-level Bench <i class="fa fa-caret-down"></i></div>
    <ul class="navigation__link-list dropdown-container">
      {% for link in site.nav.Multi-level %}
        <li class="navigation__link-list-item{% if page.navbar-page-id == link.page-id %} navigation__link-list-item--active{% endif %}{% unless link.available %} navigation__link-list-item--unavailable{% endunless %}">
          <a class="navigation__link-list-link{% if page.navbar-page-id == link.page-id %} navigation__link-list-link--active{% endif %}" href="{{ link.url | prepend: site.baseurl }}">
            {{ link.text }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <div class="navigation__category dropdown-btn">Benchmarking datasets <i class="fa fa-caret-down"></i></div>
    <ul class="navigation__link-list dropdown-container">
      {% for link in site.nav.benchmarking-datasets %}
        <li class="navigation__link-list-item{% if page.navbar-page-id == link.page-id %} navigation__link-list-item--active{% endif %}{% unless link.available %} navigation__link-list-item--unavailable{% endunless %}">
          <a class="navigation__link-list-link{% if page.navbar-page-id == link.page-id %} navigation__link-list-link--active{% endif %}" href="{{ link.url | prepend: site.baseurl }}">
            {{ link.text }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <div class="navigation__category dropdown-btn">Fault-tolerant QC <i class="fa fa-caret-down"></i></div>
    <ul class="navigation__link-list dropdown-container">
      {% for link in site.nav.Ftqc %}
        <li class="navigation__link-list-item{% if page.navbar-page-id == link.page-id %} navigation__link-list-item--active{% endif %}{% unless link.available %} navigation__link-list-item--unavailable{% endunless %}">
          <a class="navigation__link-list-link{% if page.navbar-page-id == link.page-id %} navigation__link-list-link--active{% endif %}" href="{{ link.url | prepend: site.baseurl }}">
            {{ link.text }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <div class="navigation__category dropdown-btn">Business informations <i class="fa fa-caret-down"></i></div>
    <ul class="navigation__link-list dropdown-container">
      {% for link in site.nav.Business-informations %}
        <li class="navigation__link-list-item{% if page.navbar-page-id == link.page-id %} navigation__link-list-item--active{% endif %}{% unless link.available %} navigation__link-list-item--unavailable{% endunless %}">
          <a class="navigation__link-list-link{% if page.navbar-page-id == link.page-id %} navigation__link-list-link--active{% endif %}" href="{{ link.url | prepend: site.baseurl }}">
            {{ link.text }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>
