<table class="display my_table aq-table">
   <thead>
       <tr>
          <th>Date & Ref</th>
          <th>QPU Company</th>
          <th>COI risk</th>
          <th>CE</th>
          <th>SP</th>
          <th>AC</th>
          <th>EM</th>
          <th>QPU</th>
          <th>Technology</th>
          <th>Chip qubits</th>
          <th>#AQ</th>
          <th>Comment</th>
       </tr>
   </thead>
   <tbody>
    <tr>
      <td>2023/03 {% cite algorithmicQubitsPerf %}</td>
      <td>IonQ</td>
      <td></td>
      <td>x</td>
      <td></td>
      <td>x</td>
      <td>x</td>
      <td>Aria</td>
      <td>Trapped-Ion</td>
      <td>25</td>
      <td>20</td>
      <td></td>
    </tr>
    <tr>
      <td>2023/03 {% cite algorithmicQubitsPerf %}</td>
      <td>Quantinuum</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td>?</td>
      <td>?</td>
      <td>H1 model</td>
      <td>Trapped-Ion</td>
      <td>20</td>
      <td>12</td>
      <td>evaluation led by IonQ</td>
    </tr>
    <tr>
      <td>2023/03 {% cite algorithmicQubitsPerf %}</td>
      <td>IBM</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td>?</td>
      <td>?</td>
      <td>Guadalupe</td>
      <td>Superconducting</td>
      <td>16</td>
      <td>6</td>
      <td>evaluation led by IonQ</td>
    </tr>
    <tr>
      <td>2023/03 {% cite algorithmicQubitsPerf %}</td>
      <td>Rigetti</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td>?</td>
      <td>?</td>
      <td>Aspen-M1</td>
      <td>Superconducting</td>
      <td>80</td>
      <td>5</td>
      <td>evaluation led by IonQ</td>
    </tr>
    <tr>
      <td>2023/09 {% cite chen2024benchmarking %}</td>
      <td>IonQ</td>
      <td></td>
      <td>x</td>
      <td>x</td>
      <td>x</td>
      <td>x</td>
      <td>Forte</td>
      <td>Trapped-Ion</td>
      <td>30</td>
      <td>29</td>
      <td></td>
    </tr>
    <tr>
      <td>2024/03 {% cite debunkingAlgorithmicQubit %}</td>
      <td>Quantinuum</td>
      <td></td>
      <td>x</td>
      <td></td>
      <td>x</td>
      <td></td>
      <td>H2-1</td>
      <td>Trapped-Ion</td>
      <td>32</td>
      <td>26</td>
      <td></td>
    </tr>
    <tr>
      <td>2024/03 {% cite debunkingAlgorithmicQubit %}</td>
      <td>IonQ</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td>x</td>
      <td></td>
      <td>Forte</td>
      <td>Trapped-Ion</td>
      <td>30</td>
      <td>9</td>
      <td>evaluation led by Quantinuum</td>
    </tr>
    <tr>
      <td>2024/03 {% cite debunkingAlgorithmicQubit %}</td>
      <td>Quantinuum</td>
      <td></td>
      <td>x</td>
      <td></td>
      <td>x</td>
      <td>x</td>
      <td>H2-1</td>
      <td>Trapped-Ion</td>
      <td>32</td>
      <td>32</td>
      <td></td>
    </tr>
    <tr>
      <td>2024/03 {% cite debunkingAlgorithmicQubit %}</td>
      <td>IonQ</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td>x</td>
      <td>x</td>
      <td>Forte</td>
      <td>Trapped-Ion</td>
      <td>30</td>
      <td>29</td>
      <td>evaluation led by Quantinuum</td>
    </tr>
    <tr>
      <td>2024/12 {% cite IonQ36AQ %}</td>
      <td>IonQ</td>
      <td></td>
      <td>x</td>
      <td></td>
      <td>x</td>
      <td>x</td>
      <td>Forte Enterprise</td>
      <td>Trapped-Ion</td>
      <td>36</td>
      <td>36</td>
      <td></td>
    </tr>
  </tbody>
</table>