<table class="display my_table clops-table">
   <thead>
       <tr>
          <th>Date & Ref</th>
          <th>Company</th>
          <th>CE</th>
          <th>SP</th>
          <th>M</th>
          <th>K</th>
          <th>Shots</th>
          <th>QV layers</th>
          <th>CPU / QPU</th>
          <th>Technology</th>
          <th>#qubits</th>
          <th>\(CLOPS_v\)</th>
          <th>\(CLOPS_h\)</th>
       </tr>
   </thead>
   <tbody>
    <tr>
      <td>2021/10 {% cite wack2021qualityspeedscalekey %}</td>
      <td>IBM</td>
      <td>x</td>
      <td>x</td>
      <td>100</td>
      <td>10</td>
      <td>100</td>
      <td>5</td>
      <td>ibmq_bogota</td>
      <td>Superconducting</td>
      <td>5</td>
      <td>1 419</td>
      <td></td>
    </tr>
    <tr>
      <td>2021/10 {% cite wack2021qualityspeedscalekey %}</td>
      <td>IBM</td>
      <td>x</td>
      <td>x</td>
      <td>100</td>
      <td>10</td>
      <td>100</td>
      <td>5</td>
      <td>ibmq_toronto</td>
      <td>Superconducting</td>
      <td>27</td>
      <td>951</td>
      <td></td>
    </tr>
    <tr>
      <td>2021/10 {% cite wack2021qualityspeedscalekey %}</td>
      <td>IBM</td>
      <td>x</td>
      <td>x</td>
      <td>100</td>
      <td>10</td>
      <td>100</td>
      <td>5</td>
      <td>ibmq_brooklyn</td>
      <td>Superconducting</td>
      <td>65</td>
      <td>753</td>
      <td></td>
    </tr>
    <tr>
      <td>2023/08 {% cite van2023evaluating %}</td>
      <td>QuTech</td>
      <td></td>
      <td>x</td>
      <td>100</td>
      <td>10</td>
      <td>100</td>
      <td>2</td>
      <td>Starmon-5</td>
      <td>Superconducting</td>
      <td>5</td>
      <td>372</td>
      <td></td>
    </tr>
    <tr>
      <td>2025/02 {% cite ibmClops %}</td>
      <td>IBM</td>
      <td>x</td>
      <td></td>
      <td>100</td>
      <td>10</td>
      <td>100</td>
      <td>9</td>
      <td>ibm_marrakesh (Heron r2)</td>
      <td>Superconducting</td>
      <td>156</td>
      <td>2 400</td>
      <td>195 000</td>
    </tr>
    <tr>
      <td>2025/02 {% cite ibmClops %}</td>
      <td>IBM</td>
      <td>x</td>
      <td></td>
      <td>100</td>
      <td>10</td>
      <td>100</td>
      <td>9</td>
      <td>ibm_fez (Heron r2)</td>
      <td>Superconducting</td>
      <td>156</td>
      <td>2 400</td>
      <td>195 000</td>
    </tr>
    <tr>
      <td>2025/02 {% cite ibmClops %}</td>
      <td>IBM</td>
      <td>x</td>
      <td></td>
      <td>100</td>
      <td>10</td>
      <td>100</td>
      <td>9</td>
      <td>ibm_torino (Heron r1)</td>
      <td>Superconducting</td>
      <td>156</td>
      <td>2 400</td>
      <td>210 000</td>
    </tr>
    <tr>
      <td>2025/02 {% cite ibmClops %}</td>
      <td>IBM</td>
      <td>x</td>
      <td></td>
      <td>100</td>
      <td>10</td>
      <td>100</td>
      <td>7</td>
      <td>ibm_sherbrooke (Eagle r3)</td>
      <td>Superconducting</td>
      <td>127</td>
      <td>2 400</td>
      <td>30 000</td>
    </tr>
    <tr>
      <td>2025/02 {% cite ibmClops %}</td>
      <td>IBM</td>
      <td>x</td>
      <td></td>
      <td>100</td>
      <td>10</td>
      <td>100</td>
      <td>7</td>
      <td>ibm_kyiv (Eagle r3)</td>
      <td>Superconducting</td>
      <td>127</td>
      <td>2 400</td>
      <td>30 000</td>
    </tr>
    <tr>
      <td>2025/02 {% cite ibmClops %}</td>
      <td>IBM</td>
      <td>x</td>
      <td></td>
      <td>100</td>
      <td>10</td>
      <td>100</td>
      <td>7</td>
      <td>ibm_brisbane (Eagle r3)</td>
      <td>Superconducting</td>
      <td>127</td>
      <td>2 400</td>
      <td>180 000</td>
    </tr>
    <tr>
      <td>2025/02 {% cite ibmClops %}</td>
      <td>IBM</td>
      <td>x</td>
      <td></td>
      <td>100</td>
      <td>10</td>
      <td>100</td>
      <td>7</td>
      <td>ibm_quebec (Eagle r3)</td>
      <td>Superconducting</td>
      <td>127</td>
      <td>2 400</td>
      <td>32 000</td>
    </tr>
    <tr>
      <td>2025/02 {% cite ibmClops %}</td>
      <td>IBM</td>
      <td>x</td>
      <td></td>
      <td>100</td>
      <td>10</td>
      <td>100</td>
      <td>7</td>
      <td>ibm_kawasaki (Eagle r3)</td>
      <td>Superconducting</td>
      <td>127</td>
      <td>2 400</td>
      <td>29 000</td>
    </tr>
    <tr>
      <td>2025/02 {% cite ibmClops %}</td>
      <td>IBM</td>
      <td>x</td>
      <td></td>
      <td>100</td>
      <td>10</td>
      <td>100</td>
      <td>7</td>
      <td>ibm_brussels (Eagle r3)</td>
      <td>Superconducting</td>
      <td>127</td>
      <td>2 400</td>
      <td>220 000</td>
    </tr>
    <tr>
      <td>2025/02 {% cite ibmClops %}</td>
      <td>IBM</td>
      <td>x</td>
      <td></td>
      <td>100</td>
      <td>10</td>
      <td>100</td>
      <td>7</td>
      <td>ibm_rensselaer (Eagle r3)</td>
      <td>Superconducting</td>
      <td>127</td>
      <td>2 400</td>
      <td>32 000</td>
    </tr>
    <tr>
      <td>2025/02 {% cite ibmClops %}</td>
      <td>IBM</td>
      <td>x</td>
      <td></td>
      <td>100</td>
      <td>10</td>
      <td>100</td>
      <td>7</td>
      <td>ibm_strasbourg (Eagle r3)</td>
      <td>Superconducting</td>
      <td>127</td>
      <td>2 400</td>
      <td>220 000</td>
    </tr>
    <tr>
      <td>2024/08 {% cite abdurakhimov2024technology %}</td>
      <td>IQM</td>
      <td>x</td>
      <td>x</td>
      <td>100</td>
      <td>10</td>
      <td>100</td>
      <td>5</td>
      <td>Garnet</td>
      <td>Superconducting</td>
      <td>20</td>
      <td>2 600</td>
      <td></td>
    </tr>
  </tbody>
</table>