<table class="display my_table D-Wave-supremacy-table">
   <thead>
       <tr>
          <th>Date & Ref</th>
          <th>Category</th>
          <th>Dimers ?</th>
          <th>\(L_x \times L_y \times L_z\)</th>
          <th>qubits</th>
          <th>Graph particularity</th>
          <th>Classically verifiable</th>
          <th>QPU</th>
          <th>annealing time</th>
       </tr>
   </thead>
   <tbody>
    <tr>
      <td>2025 {% cite king2024computational %}</td>
      <td>Square latticeCylinder</td>
      <td>no</td>
      <td>\(8 \times 8\)</td>
      <td>64</td>
      <td>4-regular graph</td>
      <td>yes</td>
      <td>Adv2</td>
      <td>\({7, 20}\)ns</td>
    </tr>
    <tr>
      <td>2025 {% cite king2024computational %}</td>
      <td>Square latticeCylinder</td>
      <td>no</td>
      <td>\(18 \times 18\)</td>
      <td>324</td>
      <td>4-regular graph</td>
      <td>no</td>
      <td>Adv2</td>
      <td>\({7, 20}\)ns</td>
    </tr>
    <tr>
      <td>2025 {% cite king2024computational %}</td>
      <td>Cubic dimer</td>
      <td>yes</td>
      <td>\(3 \times 3 \times 3\)</td>
      <td>18</td>
      <td></td>
      <td>yes</td>
      <td>Adv2</td>
      <td>\({7, 20}\)ns</td>
    </tr>
    <tr>
      <td>2025 {% cite king2024computational %}</td>
      <td>Cubic no dimer</td>
      <td>no</td>
      <td>\(3 \times 3 \times 3\)</td>
      <td>18</td>
      <td></td>
      <td>yes</td>
      <td>Adv2</td>
      <td>\({7, 20}\)ns</td>
    </tr>
    <tr>
      <td>2025 {% cite king2024computational %}</td>
      <td>Cubic dimer</td>
      <td>yes</td>
      <td>\(6 \times 6 \times 6\)</td>
      <td>424</td>
      <td></td>
      <td>no</td>
      <td>Adv2</td>
      <td>\({7, 20}\)ns</td>
    </tr>
    <tr>
      <td>2025 {% cite king2024computational %}</td>
      <td>Cubic no dimer</td>
      <td>no</td>
      <td>\(6 \times 6 \times 6\)</td>
      <td>424</td>
      <td></td>
      <td>no</td>
      <td>Adv2</td>
      <td>\({7, 20}\)ns</td>
    </tr>
    <tr>
      <td>2025 {% cite king2024computational %}</td>
      <td>Diamond</td>
      <td>no</td>
      <td>\(4 \times 4 \times 8\)</td>
      <td>32</td>
      <td>4-regular graph</td>
      <td>yes</td>
      <td>Adv2</td>
      <td>\({7, 20}\)ns</td>
    </tr>
    <tr>
      <td>2025 {% cite king2024computational %}</td>
      <td>Diamond</td>
      <td>no</td>
      <td>\(12 \times 12 \times 16\)</td>
      <td>576(9 defects)</td>
      <td>4-regular graph</td>
      <td>no</td>
      <td>Adv2</td>
      <td>\({7, 20}\)ns</td>
    </tr>
    <tr>
      <td>2025 {% cite king2025comment %}</td>
      <td>Cubic dimer</td>
      <td>yes</td>
      <td>\(12 \times 12 \times 12\)</td>
      <td>3367</td>
      <td></td>
      <td>no</td>
      <td>New Adv2</td>
      <td>\({7, 20, 40}\)ns</td>
    </tr>
  </tbody>
</table>