<table class="display my_table lr-qaoa-table">
   <thead>
       <tr>
          <th>QPU</th>
          <th>1D-Chain</th>
          <th>NL</th>
          <th>$$FC_{N_q}=20$$</th>
          <th>$$FC_{N_q}/r_\text{eff}$$</th>
       </tr>
   </thead>
   <tbody>
    <tr>
      <td>ibm_brisbane</td>
      <td>0.84/0.756</td>
      <td>0.678</td>
      <td>0.000</td>
      <td>16/0.009</td>
    </tr>
    <tr>
      <td>ibm_sherbrooke</td>
      <td>-/0.721</td>
      <td>0.664</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>ibm_kyiv</td>
      <td>-/0.723</td>
      <td>0.706</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>ibm_nazca</td>
      <td>-/0.673</td>
      <td>0.619</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>ibm_kyoto</td>
      <td>-/0.662</td>
      <td>0.636</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>ibm_osaka</td>
      <td>-/0.674</td>
      <td>0.617</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>ibm_brussels</td>
      <td>-/0.719</td>
      <td>0.643</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>ibm_strasbourg</td>
      <td>-/0.711</td>
      <td>0.628</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>ibm_torino-v0</td>
      <td>-/0.728</td>
      <td>0.724</td>
      <td>0.000</td>
      <td>15/0.006</td>
    </tr>
    <tr>
      <td>ibm_torino-v1</td>
      <td>-/0.760</td>
      <td>0.746, f0.773</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>ibm_fez</td>
      <td>0.87/0.776, -/f0.808</td>
      <td>0.751, f0.782</td>
      <td>0.020</td>
      <td>20/0.020</td>
    </tr>
    <tr>
      <td>ibm_marrakesh</td>
      <td>0.92/0.773</td>
      <td>f0.772</td>
      <td>0.004</td>
      <td>20/0.004</td>
    </tr>
    <tr>
      <td>ibm_aachen</td>
      <td>-</td>
      <td>0.767</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>ibm_kingston</td>
      <td>-</td>
      <td>0.731</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>H1-1E</td>
      <td>-</td>
      <td>-</td>
      <td>0.582</td>
      <td>20/0.582</td>
    </tr>
    <tr>
      <td>quantinuum_H2-1</td>
      <td>-</td>
      <td>-</td>
      <td>0.555</td>
      <td>56/0.082</td>
    </tr>
    <tr>
      <td>ionq_aria_2</td>
      <td>-</td>
      <td>-</td>
      <td>0.227</td>
      <td>23/0.020</td>
    </tr>
    <tr>
      <td>ionq_forte</td>
      <td>-</td>
      <td>-</td>
      <td>0.269</td>
      <td>21/0.250</td>
    </tr>
    <tr>
      <td>ionq_forte_enterp</td>
      <td>-</td>
      <td>-</td>
      <td>0.182</td>
      <td>28/0.049</td>
    </tr>
    <tr>
      <td>iqm_spark</td>
      <td>-</td>
      <td>0.643</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>iqm_garnet</td>
      <td>0.83/-</td>
      <td>0.664</td>
      <td>-</td>
      <td>12/0.004</td>
    </tr>
    <tr>
      <td>rigetti_ankaa_2</td>
      <td>0.61/-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>rigetti_ankaa_3</td>
      <td>0.63/-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>originq_wukong</td>
      <td>0.84/-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
  </tbody>
</table>