<table class="delta-table display">
  <thead>
    <tr>
      <th></th>
      <th colspan="16">Backend</th>
    </tr>
    <tr>
      <th>\( N_q \)</th>
      <th><tt>ibm_fez</tt> (<tt>marrakesh</tt>)</th>
      <th colspan="2"><tt>ibm_torino</tt></th>
      <th colspan="3"><tt>ibm_brisbane</tt></th>
      <th><tt>H1-1E</tt></th>
      <th colspan="2"><tt>H2-1E</tt></th>
      <th colspan="3"><tt>H2-1</tt></th>
      <th colspan="2"><tt>ionq_aria_2</tt></th>
      <th colspan="2"><tt>qasm_simulator</tt></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>\( N_q \)</td>
      <td>&gt; 15</td>
      <td>17</td>
      <td>20</td>
      <td>16</td>
      <td>17</td>
      <td>20</td>
      <td>20</td>
      <td>25</td>
      <td>30</td>
      <td>40</td>
      <td>50</td>
      <td>56</td>
      <td>17</td>
      <td>20</td>
      <td>20</td>
      <td>25</td>
    </tr>
    <tr>
      <td>\( \Delta_{\beta,\gamma} \)</td>
      <td>0.63</td>
      <td>0.4</td>
      <td>0.3</td>
      <td>0.5</td>
      <td>0.4</td>
      <td>0.3</td>
      <td>0.3</td>
      <td>0.5</td>
      <td>0.4</td>
      <td>0.2</td>
      <td>0.2</td>
      <td>0.2</td>
      <td>0.63</td>
      <td>0.3</td>
      <td>0.3</td>
      <td>0.4</td>
    </tr>
  </tbody>
</table>
