<table class="display my_table pricing-universal-QC-table">
   <thead>
       <tr>
          <th>Company</th>
          <th>Country</th>
          <th>Technology</th>
          <th>Chip name</th>
          <th># Qubits</th>
          <th>Release</th>
          <th>Provider</th>
          <th>Tarification Type</th>
          <th>Price Details</th>
          <th>Ref</th>
       </tr>
   </thead>
   <tbody>
    <tr>
      <td>IonQ</td>
      <td>USA</td>
      <td>Trapped-ions</td>
      <td>Aria 1</td>
      <td>25</td>
      <td>2022</td>
      <td>IonQ</td>
      <td>Custom</td>
      <td></td>
      <td><a href="https://ionq.com/quantum-systems/aria" target="_blank">ionq.com</a></td>
    </tr>
    <tr>
      <td>IonQ</td>
      <td>USA</td>
      <td>Trapped-ions</td>
      <td>Aria 2</td>
      <td>25</td>
      <td>2022</td>
      <td>IonQ</td>
      <td>Custom</td>
      <td></td>
      <td><a href="https://ionq.com/quantum-systems/aria" target="_blank">ionq.com</a></td>
    </tr>
    <tr>
      <td>IonQ</td>
      <td>USA</td>
      <td>Trapped-ions</td>
      <td>Forte</td>
      <td>36</td>
      <td>2023</td>
      <td>IonQ</td>
      <td>Custom</td>
      <td></td>
      <td><a href="https://ionq.com/quantum-systems/forte" target="_blank">ionq.com</a></td>
    </tr>
    <tr>
      <td>IonQ</td>
      <td>USA</td>
      <td>Trapped-ions</td>
      <td>Forte Enterprise 1</td>
      <td>36</td>
      <td>2023</td>
      <td>IonQ</td>
      <td>Custom</td>
      <td></td>
      <td><a href="https://ionq.com/quantum-systems/forte-enterprise" target="_blank">ionq.com</a></td>
    </tr>
    <tr>
      <td>IonQ</td>
      <td>USA</td>
      <td>Trapped-ions</td>
      <td>Forte Enterprise 2</td>
      <td>36</td>
      <td>2023</td>
      <td>IonQ</td>
      <td>Custom</td>
      <td></td>
      <td><a href="https://ionq.com/quantum-systems/forte-enterprise" target="_blank">ionq.com</a></td>
    </tr>
    <tr>
      <td>IonQ</td>
      <td>USA</td>
      <td>Trapped-ions</td>
      <td>Tempo</td>
      <td>64</td>
      <td>2026</td>
      <td>IonQ</td>
      <td>Custom</td>
      <td></td>
      <td><a href="https://www.ionq.com/quantum-systems/tempo" target="_blank">ionq.com</a></td>
    </tr>
    <tr>
      <td>IonQ</td>
      <td>USA</td>
      <td>Trapped-ions</td>
      <td>Aria</td>
      <td>25</td>
      <td>2022</td>
      <td>AWS Braket</td>
      <td>As you Go</td>
      <td>0.3 $USD / task+0.03 $USD / shot</td>
      <td><a href="https://aws.amazon.com/fr/braket/pricing/" target="_blank">aws.amazon.com</a></td>
    </tr>
    <tr>
      <td>IonQ</td>
      <td>USA</td>
      <td>Trapped-ions</td>
      <td>Forte</td>
      <td>36</td>
      <td>2022</td>
      <td>AWS Braket</td>
      <td>As you Go</td>
      <td>0.3 $USD / task+0.08 $USD / shot</td>
      <td><a href="https://aws.amazon.com/fr/braket/pricing/" target="_blank">aws.amazon.com</a></td>
    </tr>
    <tr>
      <td>IonQ</td>
      <td>USA</td>
      <td>Trapped-ions</td>
      <td>Aria</td>
      <td>25</td>
      <td>2022</td>
      <td>AWS Braket</td>
      <td>1 hour ofprivate use</td>
      <td>7000 $USD/hour</td>
      <td><a href="https://aws.amazon.com/fr/braket/pricing/" target="_blank">aws.amazon.com</a></td>
    </tr>
    <tr>
      <td>IonQ</td>
      <td>USA</td>
      <td>Trapped-ions</td>
      <td>Forte</td>
      <td>36</td>
      <td>2022</td>
      <td>AWS Braket</td>
      <td>1 hour ofprivate use</td>
      <td>7000 $USD/hour</td>
      <td><a href="https://aws.amazon.com/fr/braket/pricing/" target="_blank">aws.amazon.com</a></td>
    </tr>
    <tr>
      <td>IonQ</td>
      <td>USA</td>
      <td>Trapped-ions</td>
      <td>Aria</td>
      <td>25</td>
      <td>2022</td>
      <td>Microsoft Azure</td>
      <td>As you Go</td>
      <td>0.00022 $USD / sqgs0.000975 $USD / dqgsMin price / prog : 12,4166 $USD (wo EM)Min price / prog : 97,5 $USD (with EM)</td>
      <td><a href="https://learn.microsoft.com/en-us/azure/quantum/pricing?tabs=tabid-AQcredits%2Ctabid-AQcreditsPasqal%2Ctabid-AQcreditsQ%2Ctabid-AQcreditsRigetti#ionq" target="_blank">learn.microsoft.com</a></td>
    </tr>
    <tr>
      <td>IonQ</td>
      <td>USA</td>
      <td>Trapped-ions</td>
      <td>Forte</td>
      <td>36</td>
      <td>2022</td>
      <td>Microsoft Azure</td>
      <td>As you Go</td>
      <td>0.0001645 $USD / sqgs0.0011213 $USD / dqgsMin price / prog : 25,79 $USD (wo EM)Min price / prog : 168,20 $USD (with EM)</td>
      <td><a href="https://learn.microsoft.com/en-us/azure/quantum/pricing?tabs=tabid-AQcredits%2Ctabid-AQcreditsPasqal%2Ctabid-AQcreditsQ%2Ctabid-AQcreditsRigetti#ionq" target="_blank">learn.microsoft.com</a></td>
    </tr>
    <tr>
      <td>IonQ</td>
      <td>USA</td>
      <td>Trapped-ions</td>
      <td>Aria</td>
      <td>25</td>
      <td>2022</td>
      <td>Google Cloud</td>
      <td>As you Go</td>
      <td>0.0002196 $USD / sqgs0.000975 $USD / dqgsMin price / prog : 12,42 $USD (wo EM)Min price / prog : 97,5 $USD (with EM)</td>
      <td><a href="https://console.cloud.google.com/marketplace/product/ionq-public/ionq" target="_blank">console.cloud.google.com</a></td>
    </tr>
    <tr>
      <td>IonQ</td>
      <td>USA</td>
      <td>Trapped-ions</td>
      <td>Forte</td>
      <td>36</td>
      <td>2022</td>
      <td>Google Cloud</td>
      <td>As you Go</td>
      <td>0.0001645 $USD / sqgs0.0011213 $USD / dqgsMin price / prog : 25,79 $USD (wo EM)Min price / prog : 168,20 $USD (with EM)</td>
      <td><a href="https://console.cloud.google.com/marketplace/product/ionq-public/ionq?hl=en-GB&inv=1&invt=Abs0Wg" target="_blank">console.cloud.google.com</a></td>
    </tr>
    <tr>
      <td>Quantinuum</td>
      <td>USA/UK</td>
      <td>Trapped-ions</td>
      <td>H1 model + H2 model</td>
      <td>56</td>
      <td>2023</td>
      <td>Microsoft Azure</td>
      <td>Monthly subscription Standard plan</td>
      <td>125 000 $USD / monthcontains 10 000 HQCContains 100 000 eHQC</td>
      <td><a href="https://learn.microsoft.com/en-us/azure/quantum/pricing?tabs=tabid-AQcredits%2Ctabid-paygoPasqal%2Ctabid-AQcreditsQ%2Ctabid-AQcreditsRigetti#quantinuum" target="_blank">learn.microsoft.com</a></td>
    </tr>
    <tr>
      <td>Quantinuum</td>
      <td>USA/UK</td>
      <td>Trapped-ions</td>
      <td>H1 model + H2 model</td>
      <td>56</td>
      <td>2023</td>
      <td>Microsoft Azure</td>
      <td>Monthly subscription Premium plan</td>
      <td>175 000 $USD / monthcontains 17 000 HQCContains 170 000 eHQC</td>
      <td><a href="https://learn.microsoft.com/en-us/azure/quantum/pricing?tabs=tabid-AQcredits%2Ctabid-paygoPasqal%2Ctabid-AQcreditsQ%2Ctabid-AQcreditsRigetti#quantinuum" target="_blank">learn.microsoft.com</a></td>
    </tr>
    <tr>
      <td>Quantinuum</td>
      <td>USA/UK</td>
      <td>Trapped-ions</td>
      <td>H2 model</td>
      <td>56</td>
      <td>2023</td>
      <td>Microsoft Azure</td>
      <td>As you Go</td>
      <td>Custom</td>
      <td><a href="https://learn.microsoft.com/en-us/azure/quantum/pricing?tabs=tabid-AQcredits%2Ctabid-paygoPasqal%2Ctabid-AQcreditsQ%2Ctabid-AQcreditsRigetti#quantinuum" target="_blank">learn.microsoft.com</a></td>
    </tr>
    <tr>
      <td>Quantinuum</td>
      <td>USA/UK</td>
      <td>Trapped-ions</td>
      <td>Helios</td>
      <td>98</td>
      <td>2025</td>
      <td></td>
      <td></td>
      <td>Custom</td>
      <td><a href="https://www.quantinuum.com/products-solutions/quantinuum-systems/helios#access" target="_blank">quantinuum.com</a></td>
    </tr>
    <tr>
      <td>AQT</td>
      <td>Austria</td>
      <td>Trapped-ions</td>
      <td>IBEX Q1</td>
      <td>12</td>
      <td></td>
      <td>AQT</td>
      <td>Custom</td>
      <td></td>
      <td><a href="https://www.aqt.eu/products/ibex-q1/" target="_blank">aqt.eu</a></td>
    </tr>
    <tr>
      <td>AQT</td>
      <td>Austria</td>
      <td>Trapped-ions</td>
      <td>IBEX Q1</td>
      <td>12</td>
      <td></td>
      <td>Scaleway Could</td>
      <td>As you Go</td>
      <td>0.31€ / task+0.021€ / shot</td>
      <td><a href="https://www.scaleway.com/en/quantum-as-a-service/" target="_blank">scaleway.com</a></td>
    </tr>
    <tr>
      <td>AQT</td>
      <td>Austria</td>
      <td>Trapped-ions</td>
      <td>IBEX Q1</td>
      <td>12</td>
      <td></td>
      <td>AWS Braket</td>
      <td>As you Go</td>
      <td>0.3 $USD / task+0.0235 $USD / shot</td>
      <td><a href="https://aws.amazon.com/fr/braket/pricing/" target="_blank">aws.amazon.com</a></td>
    </tr>
    <tr>
      <td>AQT</td>
      <td>Austria</td>
      <td>Trapped-ions</td>
      <td>IBEX Q1</td>
      <td>12</td>
      <td></td>
      <td>AWS Braket</td>
      <td>1 hour ofprivate use</td>
      <td>4800 $USD/hour</td>
      <td><a href="https://aws.amazon.com/fr/braket/pricing/" target="_blank">aws.amazon.com</a></td>
    </tr>
    <tr>
      <td>AQT</td>
      <td>Austria</td>
      <td>Trapped-ions</td>
      <td>MARMOT</td>
      <td>20</td>
      <td></td>
      <td>AQT</td>
      <td>Custom</td>
      <td></td>
      <td><a href="https://www.aqt.eu/products/marmot/" target="_blank">aqt.eu</a></td>
    </tr>
    <tr>
      <td>Oxford Ionics</td>
      <td>UK</td>
      <td>Trapped-ions</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Oxford Ionics</td>
      <td>Custom</td>
      <td>For partners</td>
      <td><a href="https://www.oxionics.com/contact" target="_blank">oxionics.com</a></td>
    </tr>
    <tr>
      <td>Universal quantum</td>
      <td>UK</td>
      <td>Trapped-ions</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://universalquantum.com/" target="_blank">universalquantum.com</a></td>
    </tr>
    <tr>
      <td>Eleqtron</td>
      <td>Germany</td>
      <td>Trapped-ions</td>
      <td>MAGIC</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://eleqtron.com/en/contact/" target="_blank">eleqtron.com</a></td>
    </tr>
    <tr>
      <td>Foxconn Hon Haï</td>
      <td>Taïwan</td>
      <td>Trapped-ions</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.minhsiu.com/" target="_blank">minhsiu.com</a></td>
    </tr>
    <tr>
      <td>Crystal Quantum Computing</td>
      <td>France</td>
      <td>Trapped-ions</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.crystalqc.io/contact/" target="_blank">crystalqc.io</a></td>
    </tr>
    <tr>
      <td>Neqxt</td>
      <td>Germany</td>
      <td>Trapped-ions</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://neqxt.org/index.php/contact" target="_blank">neqxt.org</a></td>
    </tr>
    <tr>
      <td>Quantum Art</td>
      <td>Israel</td>
      <td>Trapped-ions</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.quantum-art.tech/get-started" target="_blank">quantum-art.tech</a></td>
    </tr>
    <tr>
      <td>Infleqtion</td>
      <td>USA</td>
      <td>Neutral atoms</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.infleqtion.com/desqtopmot" target="_blank">infleqtion.com</a></td>
    </tr>
    <tr>
      <td>Atom computing</td>
      <td>USA</td>
      <td>Neutral atoms</td>
      <td>AC1000</td>
      <td>1200</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://atom-computing.com/ac1000/" target="_blank">atom-computing.com</a></td>
    </tr>
    <tr>
      <td>QuEra</td>
      <td>USA</td>
      <td>Neutral atoms</td>
      <td>Gemini-class systems</td>
      <td>260</td>
      <td>2026</td>
      <td>QuEra</td>
      <td>Custom</td>
      <td></td>
      <td><a href="https://www.quera.com/gemini" target="_blank">quera.com</a></td>
    </tr>
    <tr>
      <td>Planqc</td>
      <td>Germany</td>
      <td>Neutral atoms</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.planqc.eu/" target="_blank">planqc.eu</a></td>
    </tr>
    <tr>
      <td>NanoQT</td>
      <td>Japan</td>
      <td>Neutral atoms</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.nano-qt.com/" target="_blank">nano-qt.com</a></td>
    </tr>
    <tr>
      <td>Atom quantum labs</td>
      <td>Slovenia</td>
      <td>Neutral atoms</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://atomql.com/" target="_blank">atomql.com</a></td>
    </tr>
    <tr>
      <td>SpinQ</td>
      <td>China</td>
      <td>NMR</td>
      <td>Gemini</td>
      <td>2</td>
      <td>2020</td>
      <td>SpinQ</td>
      <td>Desktop</td>
      <td>7,150,000 Yens <a href="https://www.switch-science.com/search?type=article%2Cpage%2Cproduct&q=spinQ*" target="_blank">link</a></td>
      <td><a href="https://www.spinquanta.com/" target="_blank">spinquanta.com</a></td>
    </tr>
    <tr>
      <td>SpinQ</td>
      <td>China</td>
      <td>NMR</td>
      <td>Triangulum</td>
      <td>3</td>
      <td>2022</td>
      <td>SpinQ</td>
      <td>Desktop</td>
      <td>8,910,000 Yens <a href="https://www.switch-science.com/search?type=article%2Cpage%2Cproduct&q=spinQ*" target="_blank">link</a></td>
      <td><a href="https://www.spinquanta.com/" target="_blank">spinquanta.com</a></td>
    </tr>
    <tr>
      <td>SpinQ</td>
      <td>China</td>
      <td>NMR</td>
      <td>Triangulum</td>
      <td>3</td>
      <td>2025</td>
      <td>SpinQ</td>
      <td>Desktop</td>
      <td></td>
      <td><a href="https://www.spinquanta.com/" target="_blank">spinquanta.com</a></td>
    </tr>
    <tr>
      <td>SpinQ</td>
      <td>China</td>
      <td>NMR</td>
      <td>Gemini-Mini</td>
      <td>2</td>
      <td></td>
      <td>SpinQ</td>
      <td>Desktop</td>
      <td>1,375,000 Yens <a href="https://www.switch-science.com/search?type=article%2Cpage%2Cproduct&q=spinQ*" target="_blank">link</a></td>
      <td><a href="https://www.spinquanta.com/" target="_blank">spinquanta.com</a></td>
    </tr>
    <tr>
      <td>SpinQ</td>
      <td>China</td>
      <td>NMR</td>
      <td>Gemini-Lab</td>
      <td>2</td>
      <td>2024</td>
      <td>SpinQ</td>
      <td>Desktop</td>
      <td>6,930,000 Yens <a href="https://www.switch-science.com/search?type=article%2Cpage%2Cproduct&q=spinQ*" target="_blank">link</a></td>
      <td><a href="https://www.spinquanta.com/products-services/spinq-gemini-lab" target="_blank">spinquanta.com</a></td>
    </tr>
    <tr>
      <td>SpinQ</td>
      <td>China</td>
      <td>NMR</td>
      <td>Triangulum-Mini</td>
      <td>3</td>
      <td></td>
      <td>SpinQ</td>
      <td>Desktop</td>
      <td></td>
      <td><a href="https://spinq.co.il/triangulum-mini/" target="_blank">spinq.co.il</a></td>
    </tr>
    <tr>
      <td>SpinQ</td>
      <td>China</td>
      <td>Superconducting</td>
      <td>SQC</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.spinquanta.com/products-services/superconduct-computer" target="_blank">spinquanta.com</a></td>
    </tr>
    <tr>
      <td>Microsoft</td>
      <td>USA</td>
      <td>Topological</td>
      <td>majorana 1</td>
      <td>1</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.microsoft.com/en-us/research/research-area/quantum-computing/?" target="_blank">microsoft.com</a></td>
    </tr>
    <tr>
      <td>Quoherent</td>
      <td>USA</td>
      <td>Topological</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.quoherent.com/contact" target="_blank">quoherent.com</a></td>
    </tr>
    <tr>
      <td>Nokia</td>
      <td>USA</td>
      <td>Topological</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.bell-labs.com/research-innovation/projects-and-initiatives/air-lab/data-and-devices-lab/research/quantum-computing/#gref" target="_blank">bell-labs.com</a></td>
    </tr>
    <tr>
      <td>Quantum Brilliance</td>
      <td>Australia</td>
      <td>NV center</td>
      <td>Gen1</td>
      <td>5</td>
      <td>2021</td>
      <td></td>
      <td>On premise</td>
      <td></td>
      <td><a href="https://quantumbrilliance.com/" target="_blank">quantumbrilliance.com</a></td>
    </tr>
    <tr>
      <td>Quantum Brilliance</td>
      <td>Australia</td>
      <td>NV center</td>
      <td></td>
      <td>50</td>
      <td>2025</td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://quantumbrilliance.com/" target="_blank">quantumbrilliance.com</a></td>
    </tr>
    <tr>
      <td>Turing Inc</td>
      <td>USA</td>
      <td>NV center</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.turingquantum.com/" target="_blank">turingquantum.com</a></td>
    </tr>
    <tr>
      <td>XeedQ</td>
      <td>Germany</td>
      <td>NV center</td>
      <td>XQ1</td>
      <td>4</td>
      <td>2023</td>
      <td></td>
      <td>On premise</td>
      <td></td>
      <td><a href="https://xeedq.com/" target="_blank">xeedq.com</a></td>
    </tr>
    <tr>
      <td>XeedQ</td>
      <td>Germany</td>
      <td>NV center</td>
      <td></td>
      <td>256</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://xeedq.com/" target="_blank">xeedq.com</a></td>
    </tr>
    <tr>
      <td>SaxonQ</td>
      <td>Germany</td>
      <td>NV center</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://saxonq.com/" target="_blank">saxonq.com</a></td>
    </tr>
    <tr>
      <td>Silicon Quantum Computing</td>
      <td>Australia</td>
      <td>Silicon</td>
      <td></td>
      <td>10</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://sqc.com.au/" target="_blank">sqc.com.au</a></td>
    </tr>
    <tr>
      <td>Intel</td>
      <td>USA</td>
      <td>Silicon</td>
      <td>Tunnel Falls</td>
      <td>12</td>
      <td>2023</td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.intel.com/content/www/us/en/newsroom/news/quantum-computing-chip-to-advance-research.html" target="_blank">intel.com</a></td>
    </tr>
    <tr>
      <td>equal1.labs</td>
      <td>Ireland/USA</td>
      <td>Silicon</td>
      <td>UnityQ</td>
      <td>6</td>
      <td>2025</td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.equal1.com/post/equal1-launches-bell-1-the-first-quantum-system-purpose-built-for-the-hpc-era" target="_blank">equal1.com</a></td>
    </tr>
    <tr>
      <td>Diraq</td>
      <td>Australia</td>
      <td>Silicon</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://diraq.com/" target="_blank">diraq.com</a></td>
    </tr>
    <tr>
      <td>Quobly</td>
      <td>France</td>
      <td>Silicon</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.quobly.io/" target="_blank">quobly.io</a></td>
    </tr>
    <tr>
      <td>SemiQon</td>
      <td>Finland</td>
      <td>Silicon</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.semiqon.tech/" target="_blank">semiqon.tech</a></td>
    </tr>
    <tr>
      <td>EeroQ Quantum Hardware</td>
      <td>USA</td>
      <td>Silicon</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://eeroq.com/" target="_blank">eeroq.com</a></td>
    </tr>
    <tr>
      <td>C12 Quantum Electronics</td>
      <td>France</td>
      <td>Silicon</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.c12qe.com/" target="_blank">c12qe.com</a></td>
    </tr>
    <tr>
      <td>Archer Materials</td>
      <td>Australia</td>
      <td>Silicon</td>
      <td>12CQ</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://archerx.com.au/" target="_blank">archerx.com.au</a></td>
    </tr>
    <tr>
      <td>Qpi</td>
      <td>India</td>
      <td>Superconducting</td>
      <td>QpiAl Qvidya</td>
      <td>8</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://qpiai.tech/products/qpiai-qvidya" target="_blank">qpiai.tech</a></td>
    </tr>
    <tr>
      <td>Qpi</td>
      <td>India</td>
      <td>Superconducting</td>
      <td>QpiAl Gen1</td>
      <td>25</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://qpiai.tech/products/qpiai-indus-quantum" target="_blank">qpiai.tech</a></td>
    </tr>
    <tr>
      <td>Arque</td>
      <td>Germany</td>
      <td>Silicon</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.arque.systems/" target="_blank">arque.systems</a></td>
    </tr>
    <tr>
      <td>IBM</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>boston (Heron r3)</td>
      <td>156</td>
      <td>2025</td>
      <td>IBM Cloud</td>
      <td>As you Go</td>
      <td>96$ USD/min</td>
      <td><a href="https://quantum.ibm.com/" target="_blank">quantum.ibm.com</a></td>
    </tr>
    <tr>
      <td>IBM</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>boston (Heron r3)</td>
      <td>156</td>
      <td>2025</td>
      <td>IBM Cloud</td>
      <td>Flex plan(from 400 min/year)</td>
      <td>72$ USD/min</td>
      <td><a href="https://quantum.ibm.com/" target="_blank">quantum.ibm.com</a></td>
    </tr>
    <tr>
      <td>IBM</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>boston (Heron r3)</td>
      <td>156</td>
      <td>2025</td>
      <td>IBM Cloud</td>
      <td>Premium plan(from 5200 min/year)</td>
      <td>48$ USD/min</td>
      <td><a href="https://quantum.ibm.com/" target="_blank">quantum.ibm.com</a></td>
    </tr>
    <tr>
      <td>IBM</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>pittsburgh (Heron r3)</td>
      <td>156</td>
      <td>2025</td>
      <td>IBM Cloud</td>
      <td>As you Go</td>
      <td>96$ USD/min</td>
      <td><a href="https://quantum.ibm.com/" target="_blank">quantum.ibm.com</a></td>
    </tr>
    <tr>
      <td>IBM</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>pittsburgh (Heron r3)</td>
      <td>156</td>
      <td>2025</td>
      <td>IBM Cloud</td>
      <td>Flex plan(from 400 min/year)</td>
      <td>72$ USD/min</td>
      <td><a href="https://quantum.ibm.com/" target="_blank">quantum.ibm.com</a></td>
    </tr>
    <tr>
      <td>IBM</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>pittsburgh (Heron r3)</td>
      <td>156</td>
      <td>2025</td>
      <td>IBM Cloud</td>
      <td>Premium plan(from 5200 min/year)</td>
      <td>48$ USD/min</td>
      <td><a href="https://quantum.ibm.com/" target="_blank">quantum.ibm.com</a></td>
    </tr>
    <tr>
      <td>IBM</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>miami (Nightawk r1)</td>
      <td>120</td>
      <td>2025</td>
      <td>IBM Cloud</td>
      <td>As you Go</td>
      <td>96$ USD/min</td>
      <td><a href="https://quantum.ibm.com/" target="_blank">quantum.ibm.com</a></td>
    </tr>
    <tr>
      <td>IBM</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>miami (Nightawk r1)</td>
      <td>120</td>
      <td>2025</td>
      <td>IBM Cloud</td>
      <td>Flex plan(from 400 min/year)</td>
      <td>72$ USD/min</td>
      <td><a href="https://quantum.ibm.com/" target="_blank">quantum.ibm.com</a></td>
    </tr>
    <tr>
      <td>IBM</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>miami (Nightawk r1)</td>
      <td>120</td>
      <td>2025</td>
      <td>IBM Cloud</td>
      <td>Premium plan(from 5200 min/year)</td>
      <td>48$ USD/min</td>
      <td><a href="https://quantum.ibm.com/" target="_blank">quantum.ibm.com</a></td>
    </tr>
    <tr>
      <td>IBM</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>marrakesh (Heron r2)</td>
      <td>156</td>
      <td>2024</td>
      <td>IBM Cloud</td>
      <td>As you Go</td>
      <td>96$ USD/min</td>
      <td><a href="https://quantum.ibm.com/" target="_blank">quantum.ibm.com</a></td>
    </tr>
    <tr>
      <td>IBM</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>marrakesh (Heron r2)</td>
      <td>156</td>
      <td>2024</td>
      <td>IBM Cloud</td>
      <td>Flex plan(from 400 min/year)</td>
      <td>72$ USD/min</td>
      <td><a href="https://quantum.ibm.com/" target="_blank">quantum.ibm.com</a></td>
    </tr>
    <tr>
      <td>IBM</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>marrakesh (Heron r2)</td>
      <td>156</td>
      <td>2024</td>
      <td>IBM Cloud</td>
      <td>Premium plan(from 5200 min/year)</td>
      <td>48$ USD/min</td>
      <td><a href="https://quantum.ibm.com/" target="_blank">quantum.ibm.com</a></td>
    </tr>
    <tr>
      <td>IBM</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>marrakesh (Heron r2)</td>
      <td>156</td>
      <td>2024</td>
      <td>IBM Cloud</td>
      <td>Free</td>
      <td>10min/month</td>
      <td><a href="https://quantum.ibm.com/" target="_blank">quantum.ibm.com</a></td>
    </tr>
    <tr>
      <td>IBM</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>fez (Heron r2)</td>
      <td>156</td>
      <td>2024</td>
      <td>IBM Cloud</td>
      <td>As you Go</td>
      <td>96$ USD/min</td>
      <td><a href="https://quantum.ibm.com/" target="_blank">quantum.ibm.com</a></td>
    </tr>
    <tr>
      <td>IBM</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>fez (Heron r2)</td>
      <td>156</td>
      <td>2024</td>
      <td>IBM Cloud</td>
      <td>Flex plan(from 400 min/year)</td>
      <td>72$ USD/min</td>
      <td><a href="https://quantum.ibm.com/" target="_blank">quantum.ibm.com</a></td>
    </tr>
    <tr>
      <td>IBM</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>fez (Heron r2)</td>
      <td>156</td>
      <td>2024</td>
      <td>IBM Cloud</td>
      <td>Premium plan(from 5200 min/year)</td>
      <td>48$ USD/min</td>
      <td><a href="https://quantum.ibm.com/" target="_blank">quantum.ibm.com</a></td>
    </tr>
    <tr>
      <td>IBM</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>fez (Heron r2)</td>
      <td>156</td>
      <td>2024</td>
      <td>IBM Cloud</td>
      <td>Free</td>
      <td>10min/month</td>
      <td><a href="https://quantum.ibm.com/" target="_blank">quantum.ibm.com</a></td>
    </tr>
    <tr>
      <td>IBM</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>torino (Heron r1)</td>
      <td>133</td>
      <td>2023</td>
      <td>IBM Cloud</td>
      <td>As you Go</td>
      <td>96$ USD/min</td>
      <td><a href="https://quantum.ibm.com/" target="_blank">quantum.ibm.com</a></td>
    </tr>
    <tr>
      <td>IBM</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>torino (Heron r1)</td>
      <td>133</td>
      <td>2023</td>
      <td>IBM Cloud</td>
      <td>Flex plan(from 400 min/year)</td>
      <td>72$ USD/min</td>
      <td><a href="https://quantum.ibm.com/" target="_blank">quantum.ibm.com</a></td>
    </tr>
    <tr>
      <td>IBM</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>torino (Heron r1)</td>
      <td>133</td>
      <td>2023</td>
      <td>IBM Cloud</td>
      <td>Premium plan(from 5200 min/year)</td>
      <td>48$ USD/min</td>
      <td><a href="https://quantum.ibm.com/" target="_blank">quantum.ibm.com</a></td>
    </tr>
    <tr>
      <td>IBM</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>kingston (Heron r2)</td>
      <td>156</td>
      <td>2025</td>
      <td>IBM Cloud</td>
      <td>As you Go</td>
      <td>96$ USD/min</td>
      <td><a href="https://quantum.ibm.com/" target="_blank">quantum.ibm.com</a></td>
    </tr>
    <tr>
      <td>IBM</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>kingston (Heron r2)</td>
      <td>156</td>
      <td>2025</td>
      <td>IBM Cloud</td>
      <td>Flex plan(from 400 min/year)</td>
      <td>72$ USD/min</td>
      <td><a href="https://quantum.ibm.com/" target="_blank">quantum.ibm.com</a></td>
    </tr>
    <tr>
      <td>IBM</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>kingston (Heron r2)</td>
      <td>156</td>
      <td>2025</td>
      <td>IBM Cloud</td>
      <td>Premium plan(from 5200 min/year)</td>
      <td>48$ USD/min</td>
      <td><a href="https://quantum.ibm.com/" target="_blank">quantum.ibm.com</a></td>
    </tr>
    <tr>
      <td>IBM</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>kingston (Heron r2)</td>
      <td>156</td>
      <td>2025</td>
      <td>IBM Cloud</td>
      <td>Free</td>
      <td>10min/month</td>
      <td><a href="https://quantum.ibm.com/" target="_blank">quantum.ibm.com</a></td>
    </tr>
    <tr>
      <td>IBM</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>aachen (Heron r3)</td>
      <td>156</td>
      <td>2025</td>
      <td>IBM Cloud</td>
      <td>As you Go</td>
      <td>96$ USD/min</td>
      <td><a href="https://quantum.ibm.com/" target="_blank">quantum.ibm.com</a></td>
    </tr>
    <tr>
      <td>IBM</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>aachen (Heron r3)</td>
      <td>156</td>
      <td>2025</td>
      <td>IBM Cloud</td>
      <td>Flex plan(from 400 min/year)</td>
      <td>72$ USD/min</td>
      <td><a href="https://quantum.ibm.com/" target="_blank">quantum.ibm.com</a></td>
    </tr>
    <tr>
      <td>IBM</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>aachen (Heron r3)</td>
      <td>156</td>
      <td>2025</td>
      <td>IBM Cloud</td>
      <td>Premium plan(from 5200 min/year)</td>
      <td>48$ USD/min</td>
      <td><a href="https://quantum.ibm.com/" target="_blank">quantum.ibm.com</a></td>
    </tr>
    <tr>
      <td>IBM</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>brussels (Eagle r3)</td>
      <td>127</td>
      <td>2021</td>
      <td>IBM Cloud</td>
      <td>As you Go</td>
      <td>96$ USD/min</td>
      <td><a href="https://quantum.ibm.com/" target="_blank">quantum.ibm.com</a></td>
    </tr>
    <tr>
      <td>IBM</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>brussels (Eagle r3)</td>
      <td>127</td>
      <td>2021</td>
      <td>IBM Cloud</td>
      <td>Flex plan(from 400 min/year)</td>
      <td>72$ USD/min</td>
      <td><a href="https://quantum.ibm.com/" target="_blank">quantum.ibm.com</a></td>
    </tr>
    <tr>
      <td>IBM</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>brussels (Eagle r3)</td>
      <td>127</td>
      <td>2021</td>
      <td>IBM Cloud</td>
      <td>Premium plan(from 5200 min/year)</td>
      <td>48$ USD/min</td>
      <td><a href="https://quantum.ibm.com/" target="_blank">quantum.ibm.com</a></td>
    </tr>
    <tr>
      <td>IBM</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>strasbourg (Eagle r3)</td>
      <td>127</td>
      <td>2024</td>
      <td>IBM Cloud</td>
      <td>As you Go</td>
      <td>96$ USD/min</td>
      <td><a href="https://quantum.ibm.com/" target="_blank">quantum.ibm.com</a></td>
    </tr>
    <tr>
      <td>IBM</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>strasbourg (Eagle r3)</td>
      <td>127</td>
      <td>2024</td>
      <td>IBM Cloud</td>
      <td>Flex plan(from 400 min/year)</td>
      <td>72$ USD/min</td>
      <td><a href="https://quantum.ibm.com/" target="_blank">quantum.ibm.com</a></td>
    </tr>
    <tr>
      <td>IBM</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>strasbourg (Eagle r3)</td>
      <td>127</td>
      <td>2024</td>
      <td>IBM Cloud</td>
      <td>Premium plan(from 5200 min/year)</td>
      <td>48$ USD/min</td>
      <td><a href="https://quantum.ibm.com/" target="_blank">quantum.ibm.com</a></td>
    </tr>
    <tr>
      <td>Google</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>Bristlecone</td>
      <td>72</td>
      <td>2018</td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://arxiv.org/abs/1811.09599" target="_blank">arxiv.org</a></td>
    </tr>
    <tr>
      <td>Google</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>Sycamore</td>
      <td>53</td>
      <td>2019</td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.nature.com/articles/s41586-019-1666-5" target="_blank">nature.com</a></td>
    </tr>
    <tr>
      <td>Google</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>Willow</td>
      <td>72</td>
      <td>2024</td>
      <td></td>
      <td>Early accessProgram</td>
      <td><a href="https://quantumai.google/willowearlyaccess" target="_blank">link</a></td>
      <td><a href="https://blog.google/technology/research/google-willow-quantum-chip/" target="_blank">blog.google</a></td>
    </tr>
    <tr>
      <td>Rigetti</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>Ankaa-3</td>
      <td>84</td>
      <td>2024</td>
      <td>Rigetti</td>
      <td>Custom</td>
      <td></td>
      <td><a href="https://qcs.rigetti.com/request-access" target="_blank">qcs.rigetti.com</a></td>
    </tr>
    <tr>
      <td>Rigetti</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>Ankaa-3</td>
      <td>84</td>
      <td>2024</td>
      <td>Microsoft Azure</td>
      <td>As you Go</td>
      <td>0,02$ per 10 ms of job exec</td>
      <td><a href="https://learn.microsoft.com/en-us/azure/quantum/pricing?tabs=tabid-AQcredits%2Ctabid-AQcreditsPasqal%2Ctabid-AQcreditsQ%2Ctabid-AQcreditsRigetti#quantinuum" target="_blank">learn.microsoft.com</a></td>
    </tr>
    <tr>
      <td>Rigetti</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>Cepheus-1-36Q</td>
      <td>36</td>
      <td>2025</td>
      <td>Microsoft Azure</td>
      <td>As you Go</td>
      <td>0,02$ per 10 ms of job exec</td>
      <td><a href="https://learn.microsoft.com/en-us/azure/quantum/pricing?tabs=tabid-AQcredits%2Ctabid-AQcreditsPasqal%2Ctabid-AQcreditsQ%2Ctabid-AQcreditsRigetti#quantinuum" target="_blank">learn.microsoft.com</a></td>
    </tr>
    <tr>
      <td>Rigetti</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>Ankaa-3</td>
      <td>84</td>
      <td>2024</td>
      <td>AWS Braket</td>
      <td>As you Go</td>
      <td>0.3 $USD / task+0.0009 $USD / shot</td>
      <td><a href="https://aws.amazon.com/fr/braket/pricing/" target="_blank">aws.amazon.com</a></td>
    </tr>
    <tr>
      <td>Rigetti</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>Ankaa-3</td>
      <td>84</td>
      <td>2024</td>
      <td>AWS Braket</td>
      <td>1 hour ofprivate use</td>
      <td>5750 $USD/hour</td>
      <td><a href="https://aws.amazon.com/fr/braket/pricing/" target="_blank">aws.amazon.com</a></td>
    </tr>
    <tr>
      <td>Rigetti</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>Cepheus-1-108Q</td>
      <td>108</td>
      <td>2025</td>
      <td>AWS Braket</td>
      <td></td>
      <td></td>
      <td><a href="https://aws.amazon.com/fr/braket/pricing/" target="_blank">aws.amazon.com</a></td>
    </tr>
    <tr>
      <td>Oxford Quantum Circuits</td>
      <td>UK</td>
      <td>Superconducting</td>
      <td>Lucy</td>
      <td>8</td>
      <td>2022</td>
      <td>OQC Cloud</td>
      <td>Custom</td>
      <td></td>
      <td><a href="https://oqc.tech/access/oqc-cloud/" target="_blank">oqc.tech</a></td>
    </tr>
    <tr>
      <td>Oxford Quantum Circuits</td>
      <td>UK</td>
      <td>Superconducting</td>
      <td>Toshiko</td>
      <td>32</td>
      <td>2023</td>
      <td>OQC Cloud</td>
      <td>Custom</td>
      <td></td>
      <td><a href="https://oqc.tech/access/oqc-cloud/" target="_blank">oqc.tech</a></td>
    </tr>
    <tr>
      <td>IQM</td>
      <td>Finland</td>
      <td>Superconducting</td>
      <td>IQM Spark</td>
      <td>5</td>
      <td></td>
      <td>IQM Resonance</td>
      <td>Custom</td>
      <td></td>
      <td><a href="https://meetiqm.com/products/iqm-spark/" target="_blank">meetiqm.com</a></td>
    </tr>
    <tr>
      <td>IQM</td>
      <td>Finland</td>
      <td>Superconducting</td>
      <td>IQM Garnet</td>
      <td>20</td>
      <td></td>
      <td>IQM Resonance</td>
      <td>Custom</td>
      <td></td>
      <td><a href="https://www.iqmacademy.com/qpu/garnet/" target="_blank">iqmacademy.com</a></td>
    </tr>
    <tr>
      <td>IQM</td>
      <td>Finland</td>
      <td>Superconducting</td>
      <td>IQM Sirius</td>
      <td>24</td>
      <td></td>
      <td>IQM Resonance</td>
      <td>Custom</td>
      <td></td>
      <td><a href="https://www.iqmacademy.com/qpu/sirius/" target="_blank">iqmacademy.com</a></td>
    </tr>
    <tr>
      <td></td>
      <td>Finland</td>
      <td>Superconducting</td>
      <td>IQM Emerald</td>
      <td>54</td>
      <td>2025</td>
      <td>IQM Resonance</td>
      <td>Custom</td>
      <td></td>
      <td><a href="https://www.iqmacademy.com/qpu/emerald/" target="_blank">iqmacademy.com</a></td>
    </tr>
    <tr>
      <td></td>
      <td>Finland</td>
      <td>Superconducting</td>
      <td>IQM Halocene</td>
      <td>150</td>
      <td>2026</td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://meetiqm.com/press-releases/iqm-launches-halocene-a-new-quantum-computer-product-line-for-error-correction/" target="_blank">meetiqm.com</a></td>
    </tr>
    <tr>
      <td>IQM</td>
      <td>Finland</td>
      <td>Superconducting</td>
      <td>IQM Garnet</td>
      <td>20</td>
      <td></td>
      <td>AWS Braket</td>
      <td>As you Go</td>
      <td>0.3 $USD / task+0.00145 $USD / shot</td>
      <td><a href="https://aws.amazon.com/fr/braket/pricing/" target="_blank">aws.amazon.com</a></td>
    </tr>
    <tr>
      <td>IQM</td>
      <td>Finland</td>
      <td>Superconducting</td>
      <td>IQM Emerald</td>
      <td>54</td>
      <td>2025</td>
      <td>AWS Braket</td>
      <td>As you Go</td>
      <td>0.3 $USD / task+0.00160 $USD / shot</td>
      <td><a href="https://aws.amazon.com/fr/braket/pricing/" target="_blank">aws.amazon.com</a></td>
    </tr>
    <tr>
      <td>IQM</td>
      <td>Finland</td>
      <td>Superconducting</td>
      <td>IQM Garnet</td>
      <td>20</td>
      <td></td>
      <td>AWS Braket</td>
      <td>1 hour ofprivate use</td>
      <td>3000 $USD/hour</td>
      <td><a href="https://aws.amazon.com/fr/braket/pricing/" target="_blank">aws.amazon.com</a></td>
    </tr>
    <tr>
      <td>IQM</td>
      <td>Finland</td>
      <td>Superconducting</td>
      <td>IQM Emerald</td>
      <td>54</td>
      <td>2025</td>
      <td>AWS Braket</td>
      <td>1 hour ofprivate use</td>
      <td>4000 $USD/hour</td>
      <td><a href="https://aws.amazon.com/fr/braket/pricing/" target="_blank">aws.amazon.com</a></td>
    </tr>
    <tr>
      <td>IQM</td>
      <td>Finland</td>
      <td>Superconducting</td>
      <td>IQM Garnet</td>
      <td>20</td>
      <td>2025</td>
      <td>Scaleway Could</td>
      <td>As you Go</td>
      <td>0.2€ / task+0.00075€ / shot</td>
      <td><a href="https://www.scaleway.com/en/quantum-as-a-service/" target="_blank">scaleway.com</a></td>
    </tr>
    <tr>
      <td>IQM</td>
      <td>Finland</td>
      <td>Superconducting</td>
      <td>IQM Garnet</td>
      <td>20</td>
      <td>2025</td>
      <td>Scaleway Could</td>
      <td>1 hour ofprivate use</td>
      <td>1200 €/hour</td>
      <td><a href="https://www.scaleway.com/en/quantum-as-a-service/" target="_blank">scaleway.com</a></td>
    </tr>
    <tr>
      <td>IQM</td>
      <td>Finland</td>
      <td>Superconducting</td>
      <td>IQM Sirius</td>
      <td>24</td>
      <td>2025</td>
      <td>Scaleway Could</td>
      <td>As you Go</td>
      <td>0.22€ / task+0.0012€ / shot</td>
      <td><a href="https://www.scaleway.com/en/quantum-as-a-service/" target="_blank">scaleway.com</a></td>
    </tr>
    <tr>
      <td>IQM</td>
      <td>Finland</td>
      <td>Superconducting</td>
      <td>IQM Sirius</td>
      <td>24</td>
      <td>2025</td>
      <td>Scaleway Could</td>
      <td>1 hour ofprivate use</td>
      <td>2000 €/hour</td>
      <td><a href="https://www.scaleway.com/en/quantum-as-a-service/" target="_blank">scaleway.com</a></td>
    </tr>
    <tr>
      <td>IQM</td>
      <td>Finland</td>
      <td>Superconducting</td>
      <td>IQM Emerald</td>
      <td>54</td>
      <td>2025</td>
      <td>Scaleway Could</td>
      <td>As you Go</td>
      <td>0.25€ / task+0.0014€ / shot</td>
      <td><a href="https://www.scaleway.com/en/quantum-as-a-service/" target="_blank">scaleway.com</a></td>
    </tr>
    <tr>
      <td>IQM</td>
      <td>Finland</td>
      <td>Superconducting</td>
      <td>IQM Emerald</td>
      <td>54</td>
      <td>2025</td>
      <td>Scaleway Could</td>
      <td>1 hour ofprivate use</td>
      <td>3000 €/hour</td>
      <td><a href="https://www.scaleway.com/en/quantum-as-a-service/" target="_blank">scaleway.com</a></td>
    </tr>
    <tr>
      <td>Alice & Bob</td>
      <td>France</td>
      <td>Superconducting (cat qubits)</td>
      <td>Emulator</td>
      <td></td>
      <td></td>
      <td>Google Cloud</td>
      <td>As you Go</td>
      <td>25 $USD / hour</td>
      <td><a href="https://console.cloud.google.com/marketplace/product/cloud-prod-0/felis-cloud" target="_blank">console.cloud.google.com</a></td>
    </tr>
    <tr>
      <td>Alice & Bob</td>
      <td>France</td>
      <td>Superconducting (cat qubits)</td>
      <td>Quantum Hardware</td>
      <td></td>
      <td></td>
      <td>Google Cloud</td>
      <td>As you Go</td>
      <td>5000 $USD / hour</td>
      <td><a href="https://console.cloud.google.com/marketplace/product/cloud-prod-0/felis-cloud" target="_blank">console.cloud.google.com</a></td>
    </tr>
    <tr>
      <td>Anyon System</td>
      <td>Canada</td>
      <td>Superconducting</td>
      <td>Qube / Yukon</td>
      <td></td>
      <td></td>
      <td>One premise</td>
      <td></td>
      <td></td>
      <td><a href="https://www.anyonsys.com/news/anyon-updates-performance-metrics" target="_blank">anyonsys.com</a></td>
    </tr>
    <tr>
      <td>QuantWare</td>
      <td>The Netherlands</td>
      <td>Superconducting</td>
      <td>Soprano-D</td>
      <td>5</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.quantware.com/product/soprano" target="_blank">quantware.com</a></td>
    </tr>
    <tr>
      <td>QuantWare</td>
      <td>The Netherlands</td>
      <td>Superconducting</td>
      <td>Contralto-A</td>
      <td>17</td>
      <td>2022</td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.quantware.com/product/contralto-a" target="_blank">quantware.com</a></td>
    </tr>
    <tr>
      <td>QuantWare</td>
      <td>The Netherlands</td>
      <td>Superconducting</td>
      <td>Contralto-D</td>
      <td>21</td>
      <td>2022</td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.quantware.com/product/contralto" target="_blank">quantware.com</a></td>
    </tr>
    <tr>
      <td>QuantWare</td>
      <td>The Netherlands</td>
      <td>Superconducting</td>
      <td>Tenor-D</td>
      <td>64</td>
      <td>2026</td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.quantware.com/product/tenor" target="_blank">quantware.com</a></td>
    </tr>
    <tr>
      <td>Atlantic Quantum</td>
      <td>Sweden</td>
      <td>Superconducting</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.atlantic-quantum.com/" target="_blank">atlantic-quantum.com</a></td>
    </tr>
    <tr>
      <td>QuTech</td>
      <td>The Netherlands</td>
      <td>Superconducting</td>
      <td>Starmon-5</td>
      <td>5</td>
      <td>2020</td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://qutech.nl/wp-content/uploads/2020/04/3.-Technical-Fact-Sheet-Quantum-Inspire-Starmon-5.pdf" target="_blank">qutech.nl</a></td>
    </tr>
    <tr>
      <td>QuTech</td>
      <td>The Netherlands</td>
      <td>Superconducting</td>
      <td>Starmon-7</td>
      <td>7</td>
      <td>2025</td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://github.com/DiCarloLab-Delft/QuantumInspireUtilities/blob/main/Starmon7_FactSheet.pdf" target="_blank">github.com</a></td>
    </tr>
    <tr>
      <td>Intel</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>Tunnel Falls</td>
      <td>12</td>
      <td>2024</td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://arxiv.org/abs/2410.16583" target="_blank">arxiv.org</a></td>
    </tr>
    <tr>
      <td>Amazon</td>
      <td>USA</td>
      <td>Superconducting (cat qubits)</td>
      <td>Ocelot</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.aboutamazon.com/news/aws/quantum-computing-aws-ocelot-chip" target="_blank">aboutamazon.com</a></td>
    </tr>
    <tr>
      <td>Origin Quantum Computing</td>
      <td>China</td>
      <td>Superconducting</td>
      <td>WY-SC24-100</td>
      <td>24</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://originqc.com.cn/en/" target="_blank">originqc.com.cn</a></td>
    </tr>
    <tr>
      <td>Origin Quantum Computing</td>
      <td>China</td>
      <td>Superconducting</td>
      <td>OriginQ Wukong</td>
      <td>72</td>
      <td>2024</td>
      <td>OriginQ Cloud</td>
      <td></td>
      <td></td>
      <td><a href="https://qcloud.originqc.com.cn/en" target="_blank">qcloud.originqc.com.cn</a></td>
    </tr>
    <tr>
      <td>SpinQ</td>
      <td>China</td>
      <td>Superconducting</td>
      <td>C2</td>
      <td>2</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://spinquanta.com/products-solutions/superConductChip" target="_blank">spinquanta.com</a></td>
    </tr>
    <tr>
      <td>SpinQ</td>
      <td>China</td>
      <td>Superconducting</td>
      <td>C5</td>
      <td>5</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://spinquanta.com/products-solutions/superConductChip" target="_blank">spinquanta.com</a></td>
    </tr>
    <tr>
      <td>SpinQ</td>
      <td>China</td>
      <td>Superconducting</td>
      <td>C10</td>
      <td>10</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://spinquanta.com/products-solutions/superConductChip" target="_blank">spinquanta.com</a></td>
    </tr>
    <tr>
      <td>SpinQ</td>
      <td>China</td>
      <td>Superconducting</td>
      <td>C20 / Shaowei</td>
      <td>20</td>
      <td>2023</td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://spinquanta.com/products-solutions/superConductChip" target="_blank">spinquanta.com</a></td>
    </tr>
    <tr>
      <td>Fujitsu / RIKEN</td>
      <td>Japan</td>
      <td>Superconducting</td>
      <td></td>
      <td>256</td>
      <td>2025</td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.fujitsu.com/global/about/resources/news/press-releases/2025/0422-01.html" target="_blank">fujitsu.com</a></td>
    </tr>
    <tr>
      <td>Fujitsu / RIKEN</td>
      <td>Japan</td>
      <td>Superconducting</td>
      <td>Qmio</td>
      <td>32</td>
      <td>2023</td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://quantum.cesga.es/infraestructures/" target="_blank">quantum.cesga.es</a></td>
    </tr>
    <tr>
      <td>Fujitsu / RIKEN</td>
      <td>Japan</td>
      <td>Superconducting</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.fujitsu.com/global/about/research/technology/quantum/" target="_blank">fujitsu.com</a></td>
    </tr>
    <tr>
      <td>Toshiba</td>
      <td>Japan</td>
      <td>Superconducting</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.toshiba.eu/quantum/" target="_blank">toshiba.eu</a></td>
    </tr>
    <tr>
      <td>Quantum Circuit Inc</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://quantumcircuits.com/" target="_blank">quantumcircuits.com</a></td>
    </tr>
    <tr>
      <td>Nord Quantique</td>
      <td>Canada</td>
      <td>Superconducting</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://nordquantique.ca/fr" target="_blank">nordquantique.ca</a></td>
    </tr>
  </tbody>
</table>