<table class="display my_table pricing-free-access-plan-table">
   <thead>
       <tr>
          <th>Company</th>
          <th>Country</th>
          <th>Technology</th>
          <th>Chip name</th>
          <th>Provider</th>
          <th>Modality</th>
          <th>Expiry delay</th>
          <th>Ref</th>
       </tr>
   </thead>
   <tbody>
    <tr>
      <td>AWS Braket</td>
      <td>USA</td>
      <td>Trapped-ions<br/>Superconducting<br/>Neutral-atoms</td>
      <td>AQT IBEX Q1 – 12 qubits<br/>IonQ Forte – 36 qubits<br/>IQM Garnet – 20 qubits<br/>IQM Emerald – 54 qubits<br/>Rigetti Cepheus-1-108Q – 108 qubits<br/>Quera Aquila – 256 qubits</td>
      <td>AWS Braket</td>
      <td>100$USD credits offered on account creation</td>
      <td>1 year</td>
      <td><a href="https://aws.amazon.com/free/" target="_blank">aws.amazon.com</a></td>
    </tr>
    <tr>
      <td>Microsoft Azure</td>
      <td>USA</td>
      <td>Trapped-ions<br/>Superconducting<br/>Neutral-atoms </td>
      <td>IonQ Aria-1 – 25 qubits<br/>IonQ Forte-1 – 36 qubits<br/>IonQ Forte enterprise – 36 qubits<br/>Pasqal FRESNEL – 100 qubits</td>
      <td>Microsoft Azure</td>
      <td>200$USD credits offered on account creation</td>
      <td>1 month</td>
      <td><a href="https://azure.microsoft.com/en-us" target="_blank">azure.microsoft.com</a></td>
    </tr>
    <tr>
      <td>Scaleway</td>
      <td>France</td>
      <td>Trapped-ions<br/>Superconducting<br/>Photonic<br/>Neutral-atoms</td>
      <td>AQT IBEX Q1 – 12 qubits<br/>IQM Garnet – 20 qubits<br/>IQM Sirius – 24 qubits<br/>IQM Emerald – 54 qubits<br/>Quandela ASCELLA – 6PQ<br/>Quandela ALTAIR – 10PQ<br/>Quandela BELENOS – 12PQ<br/>Pasqal FRESNEL – 100 qubits<br/>Pasqal DISTRIQ – 100 qubits</td>
      <td>Scaleway Cloud</td>
      <td>100€ (~115 $USD) credits offered on accound creation</td>
      <td>2 months</td>
      <td><a href="https://www.scaleway.com/en/" target="_blank">scaleway.com</a></td>
    </tr>
    <tr>
      <td>Open quantum</td>
      <td>USA</td>
      <td>Trapped-ions<br/>Superconducting</td>
      <td>AQT IBEX Q1 – 12 qubits<br/>IonQ Forte-1 – 36 qubits<br/>IonQ Forte enterprise – 36 qubits<br/>IQM Garnet – 20 qubits<br/>IQM Emerald – 54 qubits<br/>Rigetti Cepheus-1-108Q – 108 qubits</td>
      <td>Open Quantum Cloud</td>
      <td>25$USD (25 spark credits) every 90 days.Consume a minimum of 1 credit per task</td>
      <td>/</td>
      <td><a href="https://www.openquantum.com/" target="_blank">openquantum.com</a></td>
    </tr>
    <tr>
      <td>IBM</td>
      <td>USA</td>
      <td>Superconducting</td>
      <td>IBM marrakesh (Heron r2) – 156 qubits<br/>IBM fez (Heron r2) – 156 qubits<br/>IBM kingston (Heron r2) – 156 qubits</td>
      <td>IBM Cloud</td>
      <td>10min free /month</td>
      <td>/</td>
      <td><a href="https://quantum.ibm.com/" target="_blank">quantum.ibm.com</a></td>
    </tr>
    <tr>
      <td>IQM</td>
      <td>Finland</td>
      <td>Superconducting</td>
      <td>IQM Garnet – 20 qubits<br/>IQM Sirius – 24 qubits<br/>IQM Emerald – 54 qubits</td>
      <td>IQM Resonance</td>
      <td>30$USD credits free / month</td>
      <td>/</td>
      <td><a href="https://resonance.iqm.tech/" target="_blank">resonance.iqm.tech</a></td>
    </tr>
    <tr>
      <td>OriginQ Wukong</td>
      <td>China</td>
      <td>Superconducting</td>
      <td>Wukong – 180 qubits</td>
      <td>Origin Quantum Cloud</td>
      <td>60s offered at subscription</td>
      <td>does not expire</td>
      <td><a href="https://qcloud.originqc.com.cn/en" target="_blank">qcloud.originqc.com.cn</a></td>
    </tr>
    <tr>
      <td>QuTech</td>
      <td>Netherlands</td>
      <td>Superconducting</td>
      <td>Tuna-5 – 5 qubits<br/>Tuna-9 – 9 qubits<br/>Tuna-17 – 17 qubits<br/></td>
      <td>Quantum Inspire</td>
      <td>free access</td>
      <td>does not expire</td>
      <td><a href="https://www.quantum-inspire.com/" target="_blank">quantum-inspire.com</a></td>
    </tr>
    <tr>
      <td>Logical Qubit</td>
      <td>China</td>
      <td>Superconducting</td>
      <td>QZ01 – 17 qubits<br/>QZ02 – 20 qubits<br/>MQ02 – 24 qubits<br/>AGate – 101 qubits<br/></td>
      <td>Logical qubit Cloud</td>
      <td>500¥ (75$USD) credits offered on account creation</td>
      <td>does not expire</td>
      <td><a href="https://cloud.logicalqubit.com/landing/" target="_blank">cloud.logicalqubit.com</a></td>
    </tr>
  </tbody>
</table>