<table class="display my_table pricing-photonic-QC-table">
   <thead>
       <tr>
          <th>Company</th>
          <th>Country</th>
          <th>Technology</th>
          <th>Chip name</th>
          <th># Spatial Modes</th>
          <th># Photons</th>
          <th>Equiv qubits</th>
          <th>Release</th>
          <th>Provider</th>
          <th>Pricing Type</th>
          <th>Price Details</th>
          <th>Ref</th>
       </tr>
   </thead>
   <tbody>
    <tr>
      <td>Quandela</td>
      <td>France</td>
      <td>Photonic</td>
      <td>Ascella – MosaiQ-6</td>
      <td>12</td>
      <td>6</td>
      <td>6</td>
      <td>2023</td>
      <td>OVH Cloud</td>
      <td>Custom</td>
      <td></td>
      <td><a href="https://labs.ovhcloud.com/en/mosaiq-quandela/" target="_blank">labs.ovhcloud.com</a></td>
    </tr>
    <tr>
      <td>Quandela</td>
      <td>France</td>
      <td>Photonic</td>
      <td>Ascella – MosaiQ-6</td>
      <td>12</td>
      <td>6</td>
      <td>6</td>
      <td>2022</td>
      <td>Quandela Cloud</td>
      <td>free</td>
      <td>~200 tasks </td>
      <td><a href="https://cloud.quandela.com/pricing" target="_blank">cloud.quandela.com</a></td>
    </tr>
    <tr>
      <td>Quandela</td>
      <td>France</td>
      <td>Photonic</td>
      <td>Ascella – MosaiQ-6</td>
      <td>12</td>
      <td>6</td>
      <td>6</td>
      <td>2022</td>
      <td>Quandela Cloud</td>
      <td>Academic plan</td>
      <td>0.03€ / task0,000001 € / shot</td>
      <td><a href="https://cloud.quandela.com/pricing" target="_blank">cloud.quandela.com</a></td>
    </tr>
    <tr>
      <td>Quandela</td>
      <td>France</td>
      <td>Photonic</td>
      <td>Ascella – MosaiQ-6</td>
      <td>12</td>
      <td>6</td>
      <td>6</td>
      <td>2022</td>
      <td>Quandela Cloud</td>
      <td>Pro</td>
      <td>0.3€ / task0,000001 € / shot</td>
      <td><a href="https://cloud.quandela.com/pricing" target="_blank">cloud.quandela.com</a></td>
    </tr>
    <tr>
      <td>Quandela</td>
      <td>France</td>
      <td>Photonic</td>
      <td>Ascella – MosaiQ-6</td>
      <td>12</td>
      <td>6</td>
      <td>6</td>
      <td>2022</td>
      <td>Scaleway Could</td>
      <td>As you Go</td>
      <td>0.3€ / task+0.000001€ / shotOr 750€ / hour</td>
      <td><a href="https://www.scaleway.com/en/quantum-as-a-service/" target="_blank">scaleway.com</a></td>
    </tr>
    <tr>
      <td>Quandela</td>
      <td>France</td>
      <td>Photonic</td>
      <td>Altair – 10Q</td>
      <td>20</td>
      <td>10</td>
      <td>10</td>
      <td>2023</td>
      <td>Scaleway Could</td>
      <td>As you Go</td>
      <td>0.3€ / task+0.000001€ / shot</td>
      <td><a href="https://www.scaleway.com/en/quantum-as-a-service/" target="_blank">scaleway.com</a></td>
    </tr>
    <tr>
      <td>Quandela</td>
      <td>France</td>
      <td>Photonic</td>
      <td>Belenos – MosaiQ-12</td>
      <td>24</td>
      <td>12</td>
      <td>12</td>
      <td>2024</td>
      <td>Quandela Cloud</td>
      <td>Academic plan</td>
      <td>0.3€ / task0,000001 € / shot</td>
      <td><a href="https://cloud.quandela.com/pricing" target="_blank">cloud.quandela.com</a></td>
    </tr>
    <tr>
      <td>Quandela</td>
      <td>France</td>
      <td>Photonic</td>
      <td>Belenos – MosaiQ-12</td>
      <td>24</td>
      <td>12</td>
      <td>12</td>
      <td>2024</td>
      <td>Quandela Cloud</td>
      <td>Pro</td>
      <td>0.3€ / task0,000001 € / shot</td>
      <td><a href="https://cloud.quandela.com/pricing" target="_blank">cloud.quandela.com</a></td>
    </tr>
    <tr>
      <td>Quandela</td>
      <td>France</td>
      <td>Photonic</td>
      <td>Belenos – MosaiQ-12</td>
      <td>24</td>
      <td>12</td>
      <td>12</td>
      <td>2024</td>
      <td>Scaleway Could</td>
      <td>As you Go</td>
      <td>0.3€ / task+0.000001€ / shotOr 1000€ / hour</td>
      <td><a href="https://www.scaleway.com/en/quantum-as-a-service/" target="_blank">scaleway.com</a></td>
    </tr>
    <tr>
      <td>Quandela</td>
      <td>France</td>
      <td>Photonic</td>
      <td>Belenos – MosaiQ-12</td>
      <td>24</td>
      <td>12</td>
      <td>12</td>
      <td>2024</td>
      <td>Quandela Cloud</td>
      <td>free</td>
      <td>~200 tasks </td>
      <td><a href="https://cloud.quandela.com/pricing" target="_blank">cloud.quandela.com</a></td>
    </tr>
    <tr>
      <td>Quandela</td>
      <td>France</td>
      <td>Photonic</td>
      <td>Canopus – MosaiQ-24</td>
      <td></td>
      <td></td>
      <td></td>
      <td>2026</td>
      <td>Quandela Cloud</td>
      <td>Custom</td>
      <td></td>
      <td><a href="https://www.quandela.com/products-and-services/canopus/" target="_blank">quandela.com</a></td>
    </tr>
    <tr>
      <td>PsiQuantum</td>
      <td>USA</td>
      <td>Photonic</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.psiquantum.com/" target="_blank">psiquantum.com</a></td>
    </tr>
    <tr>
      <td>Xanadu</td>
      <td>Canada</td>
      <td>Photonic</td>
      <td>X-Series X8</td>
      <td>8</td>
      <td></td>
      <td></td>
      <td>2020</td>
      <td>Xanadu cloud</td>
      <td>Custom</td>
      <td></td>
      <td><a href="https://www.xanadu.ai/products/x-series/" target="_blank">xanadu.ai</a></td>
    </tr>
    <tr>
      <td>Xanadu</td>
      <td>Canada</td>
      <td>Photonic</td>
      <td>X-Series X12</td>
      <td>12</td>
      <td></td>
      <td></td>
      <td>2020</td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.xanadu.ai/products/x-series/" target="_blank">xanadu.ai</a></td>
    </tr>
    <tr>
      <td>Xanadu</td>
      <td>Canada</td>
      <td>Photonic</td>
      <td>X-Series X24</td>
      <td>24</td>
      <td></td>
      <td></td>
      <td>2020</td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.xanadu.ai/products/x-series/" target="_blank">xanadu.ai</a></td>
    </tr>
    <tr>
      <td>Xanadu</td>
      <td>Canada</td>
      <td>Photonic</td>
      <td>Borealis</td>
      <td>216</td>
      <td>100-200</td>
      <td></td>
      <td>2022</td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.xanadu.ai/products/x-series/" target="_blank">xanadu.ai</a></td>
    </tr>
    <tr>
      <td>Xanadu</td>
      <td>Canada</td>
      <td>Photonic</td>
      <td>Aurora</td>
      <td>12</td>
      <td></td>
      <td>12</td>
      <td>2025</td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.xanadu.ai/press/xanadu-introduces-aurora-worlds-first-scalable-networked-and-modular-quantum-computer" target="_blank">xanadu.ai</a></td>
    </tr>
    <tr>
      <td>ORCA Computing</td>
      <td>UK</td>
      <td>Photonic</td>
      <td>Orca PT-1</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>On Premise</td>
      <td></td>
      <td><a href="https://orcacomputing.com/orca-pt-1/" target="_blank">orcacomputing.com</a></td>
    </tr>
    <tr>
      <td>ORCA Computing</td>
      <td>UK</td>
      <td>Photonic</td>
      <td>Orca PT-2</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>On Premise</td>
      <td></td>
      <td><a href="https://orcacomputing.com/orca-pt-2/" target="_blank">orcacomputing.com</a></td>
    </tr>
    <tr>
      <td>Tundra systems</td>
      <td>UK</td>
      <td>Photonic</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://tsgl.xyz/tundrasystems-quantum-photonics/" target="_blank">tsgl.xyz</a></td>
    </tr>
    <tr>
      <td>QuiX quantum</td>
      <td>The Netherlands</td>
      <td>Photonic</td>
      <td></td>
      <td>8</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Custom</td>
      <td></td>
      <td><a href="https://www.quixquantum.com/products/quantum-photonic-processor" target="_blank">quixquantum.com</a></td>
    </tr>
    <tr>
      <td>QuiX quantum</td>
      <td>The Netherlands</td>
      <td>Photonic</td>
      <td></td>
      <td>12</td>
      <td></td>
      <td></td>
      <td>2021</td>
      <td></td>
      <td>Custom</td>
      <td></td>
      <td><a href="https://www.quixquantum.com/products/quantum-photonic-processor" target="_blank">quixquantum.com</a></td>
    </tr>
    <tr>
      <td>QuiX quantum</td>
      <td>The Netherlands</td>
      <td>Photonic</td>
      <td></td>
      <td>16</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Custom</td>
      <td></td>
      <td><a href="https://www.quixquantum.com/products/quantum-photonic-processor" target="_blank">quixquantum.com</a></td>
    </tr>
    <tr>
      <td>QuiX quantum</td>
      <td>The Netherlands</td>
      <td>Photonic</td>
      <td></td>
      <td>20</td>
      <td></td>
      <td></td>
      <td>2023</td>
      <td></td>
      <td>Custom</td>
      <td></td>
      <td><a href="https://www.quixquantum.com/products/quantum-photonic-processor" target="_blank">quixquantum.com</a></td>
    </tr>
    <tr>
      <td>Qboson</td>
      <td>China</td>
      <td>CIM</td>
      <td></td>
      <td>100</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Qboson cloud</td>
      <td></td>
      <td></td>
      <td><a href="https://www.qboson.com/" target="_blank">qboson.com</a></td>
    </tr>
    <tr>
      <td>Qboson</td>
      <td>China</td>
      <td>CIM</td>
      <td></td>
      <td>550</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Qboson cloud</td>
      <td></td>
      <td></td>
      <td><a href="https://www.qboson.com/" target="_blank">qboson.com</a></td>
    </tr>
    <tr>
      <td>Duality quantum photonics</td>
      <td>UK</td>
      <td>Photonic</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.dualityqp.com/" target="_blank">dualityqp.com</a></td>
    </tr>
    <tr>
      <td>TuringQ</td>
      <td>China</td>
      <td>Photonic</td>
      <td>Gen 1s</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.turingq.com/turingq-gen1" target="_blank">turingq.com</a></td>
    </tr>
    <tr>
      <td>TuringQ</td>
      <td>China</td>
      <td>Photonic</td>
      <td>Gen 1e</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.turingq.com/turingq-gen1" target="_blank">turingq.com</a></td>
    </tr>
    <tr>
      <td>TuringQ</td>
      <td>China</td>
      <td>Hybrid</td>
      <td>Gen 2</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.turingq.com/product-detail?id=75" target="_blank">turingq.com</a></td>
    </tr>
    <tr>
      <td>Quantum computing Inc</td>
      <td>USA</td>
      <td>EQC</td>
      <td>Dirac-3</td>
      <td></td>
      <td></td>
      <td></td>
      <td>2024</td>
      <td>QCI</td>
      <td>free</td>
      <td>10 min</td>
      <td><a href="https://quantumcomputinginc.com/" target="_blank">quantumcomputinginc.com</a></td>
    </tr>
    <tr>
      <td>Quantum computing Inc</td>
      <td>USA</td>
      <td>EQC</td>
      <td>Dirac-3</td>
      <td></td>
      <td></td>
      <td></td>
      <td>2024</td>
      <td>QCI</td>
      <td>Cloud, Premium, On premise</td>
      <td>Custom</td>
      <td><a href="https://quantumcomputinginc.com/" target="_blank">quantumcomputinginc.com</a></td>
    </tr>
    <tr>
      <td>Quantum source labs</td>
      <td>Israel</td>
      <td>Photonic</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.qs-labs.com/" target="_blank">qs-labs.com</a></td>
    </tr>
    <tr>
      <td>Quanfluence</td>
      <td>India</td>
      <td>CIM</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://quanfluence.com/time-multiplexed-coherent-ising-machine/" target="_blank">quanfluence.com</a></td>
    </tr>
    <tr>
      <td>Quanfluence</td>
      <td>India</td>
      <td>Photonic</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://quanfluence.com/photonic-quantum-computer/" target="_blank">quanfluence.com</a></td>
    </tr>
    <tr>
      <td>Rotonium</td>
      <td>Italy</td>
      <td>Photonic</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.rotonium.com/" target="_blank">rotonium.com</a></td>
    </tr>
  </tbody>
</table>