<table class="display my_table pricing-analog-QC-table">
   <thead>
       <tr>
          <th>Company</th>
          <th>Country</th>
          <th>Technology</th>
          <th>Native problem</th>
          <th>Chip name</th>
          <th># Qubits</th>
          <th>Release</th>
          <th>Provider</th>
          <th>Tarification Type</th>
          <th>Price Details</th>
          <th>Ref</th>
       </tr>
   </thead>
   <tbody>
    <tr>
      <td>Pasqal</td>
      <td>France</td>
      <td>Neutral atoms </td>
      <td>Maximum Independent Set</td>
      <td>Fresnel1</td>
      <td>100</td>
      <td>2023</td>
      <td>Microsoft Azure</td>
      <td>As you Go</td>
      <td>300 $USD / QPU hour</td>
      <td><a href="https://learn.microsoft.com/en-us/azure/quantum/pricing?tabs=tabid-AQcredits%2Ctabid-AQcreditsPasqal%2Ctabid-AQcreditsQ%2Ctabid-AQcreditsRigetti#pasqal" target="_blank">learn.microsoft.com</a></td>
    </tr>
    <tr>
      <td>Pasqal</td>
      <td>France</td>
      <td>Neutral atoms</td>
      <td>Maximum Independent Set</td>
      <td>Fresnel1</td>
      <td>100</td>
      <td>2023</td>
      <td>Google Cloud</td>
      <td>As you Go</td>
      <td>588.5 $USD / QPU hour</td>
      <td><a href="https://console.cloud.google.com/marketplace/product/pasqal-public/pasqal-cloud?hl=en-GB&inv=1&invt=Abs0Wg" target="_blank">console.cloud.google.com</a></td>
    </tr>
    <tr>
      <td>Pasqal</td>
      <td>France</td>
      <td>Neutral atoms</td>
      <td>Maximum Independent Set</td>
      <td>Fresnel1</td>
      <td>100</td>
      <td>2025</td>
      <td>Scaleway Could</td>
      <td>As you Go</td>
      <td>3.3 €/shot + 0.83€/sec</td>
      <td><a href="https://www.scaleway.com/en/quantum-as-a-service/" target="_blank">scaleway.com</a></td>
    </tr>
    <tr>
      <td>Pasqal</td>
      <td>France</td>
      <td>Neutral atoms </td>
      <td>Maximum Independent Set</td>
      <td>Orion Gamma</td>
      <td>140</td>
      <td>2026</td>
      <td>Pasqal</td>
      <td>Custom</td>
      <td></td>
      <td><a href="https://www.pasqal.com/fr/solutions/hardware/" target="_blank">pasqal.com</a></td>
    </tr>
    <tr>
      <td>QuEra</td>
      <td>USA</td>
      <td>Neutral atoms</td>
      <td>Maximum Independent Set</td>
      <td>Aquila</td>
      <td>256</td>
      <td>2022</td>
      <td>QuEra</td>
      <td>Custom</td>
      <td></td>
      <td><a href="https://www.quera.com/premium-access" target="_blank">quera.com</a></td>
    </tr>
    <tr>
      <td>QuEra</td>
      <td>USA</td>
      <td>Neutral atoms</td>
      <td>Maximum Independent Set</td>
      <td>Aquila</td>
      <td>256</td>
      <td>2022</td>
      <td>AWS Braket</td>
      <td>As you Go</td>
      <td>0.3 $USD / task+0.01 $USD / shot</td>
      <td><a href="https://aws.amazon.com/fr/braket/pricing/" target="_blank">aws.amazon.com</a></td>
    </tr>
    <tr>
      <td>QuEra</td>
      <td>USA</td>
      <td>Neutral atoms</td>
      <td>Maximum Independent Set</td>
      <td>Aquila</td>
      <td>256</td>
      <td>2025</td>
      <td>AWS Braket</td>
      <td>1 hour ofprivate use</td>
      <td>2500$ USD</td>
      <td><a href="https://aws.amazon.com/fr/braket/pricing/" target="_blank">aws.amazon.com</a></td>
    </tr>
    <tr>
      <td>D-Wave</td>
      <td>Canada</td>
      <td>Superconducting </td>
      <td>Ising</td>
      <td>Advantage 4.1</td>
      <td>5627</td>
      <td>2020</td>
      <td>D-Wave Cloud</td>
      <td>Custom</td>
      <td></td>
      <td><a href="https://cloud.dwavesys.com/" target="_blank">cloud.dwavesys.com</a></td>
    </tr>
    <tr>
      <td>D-Wave</td>
      <td>Canada</td>
      <td>Superconducting</td>
      <td>Ising</td>
      <td>Advantage 6.4</td>
      <td>5612</td>
      <td>2020</td>
      <td>D-Wave Cloud</td>
      <td>Custom</td>
      <td></td>
      <td><a href="https://cloud.dwavesys.com/" target="_blank">cloud.dwavesys.com</a></td>
    </tr>
    <tr>
      <td>D-Wave</td>
      <td>Canada</td>
      <td>Superconducting</td>
      <td>Ising</td>
      <td>Advantage2 4.3</td>
      <td>1203</td>
      <td>2024/02</td>
      <td>D-Wave Cloud</td>
      <td>Custom</td>
      <td></td>
      <td><a href="https://cloud.dwavesys.com/" target="_blank">cloud.dwavesys.com</a></td>
    </tr>
    <tr>
      <td>D-Wave</td>
      <td>Canada</td>
      <td>Superconducting</td>
      <td>Ising</td>
      <td>Advantage2 1.13</td>
      <td>4579</td>
      <td>2025/05</td>
      <td>D-Wave Cloud</td>
      <td>Custom</td>
      <td></td>
      <td><a href="https://cloud.dwavesys.com/" target="_blank">cloud.dwavesys.com</a></td>
    </tr>
  </tbody>
</table>