<table class="display my_table q-score-table">
   <thead>
       <tr>
          <th>Date & Ref</th>
          <th>CE</th>
          <th>SP</th>
          <th>Problem</th>
          <th>Graph class</th>
          <th>#Instances</th>
          <th>Shots</th>
          <th>Time limit</th>
          <th>Method</th>
          <th>CPU / QPU</th>
          <th>Score</th>
          <th>Comment</th>
       </tr>
   </thead>
   <tbody>
    <tr>
      <td>2021/02 {% cite martiel2021benchmarking %}</td>
      <td></td>
      <td>x</td>
      <td>Max-Cut</td>
      <td>ER G(n, p=1/2)</td>
      <td>100</td>
      <td>2048</td>
      <td>/</td>
      <td>QCE</td>
      <td>Grid connectivity Depolarizing noise $$\epsilon_1=0.4 %$$$$\epsilon_2=2 %$$</td>
      <td>11</td>
      <td></td>
    </tr>
    <tr>
      <td>2021/02 {% cite martiel2021benchmarking %}</td>
      <td></td>
      <td>x</td>
      <td>Max-Cut</td>
      <td>ER G(n, p=1/2)</td>
      <td>100</td>
      <td>2048</td>
      <td>/</td>
      <td>QCE</td>
      <td>Full connectivitydepolarizing noise$$\epsilon_1=0.4 %$$$$\epsilon_2=2 %$$</td>
      <td>21</td>
      <td></td>
    </tr>
    <tr>
      <td>2022/08 {% cite van2022evaluating %}</td>
      <td></td>
      <td>x</td>
      <td>Max-Cut</td>
      <td>ER G(n, p=1/2)</td>
      <td>100</td>
      <td></td>
      <td>60s</td>
      <td>TS</td>
      <td>i7-7600u</td>
      <td>2300</td>
      <td></td>
    </tr>
    <tr>
      <td>2022/08 {% cite van2022evaluating %}</td>
      <td></td>
      <td>x</td>
      <td>Max-Cut</td>
      <td>ER G(n, p=1/2)</td>
      <td>100</td>
      <td></td>
      <td>60s</td>
      <td>SA</td>
      <td>i7-7600u</td>
      <td>5800</td>
      <td></td>
    </tr>
    <tr>
      <td>2022/08 {% cite van2022evaluating %}</td>
      <td></td>
      <td>x</td>
      <td>Max-Cut</td>
      <td>ER G(n, p=1/2)</td>
      <td>100</td>
      <td></td>
      <td>60s</td>
      <td>QA</td>
      <td>D-Wave 2000Q</td>
      <td>70</td>
      <td></td>
    </tr>
    <tr>
      <td>2022/08 {% cite van2022evaluating %}</td>
      <td></td>
      <td>x</td>
      <td>Max-Cut</td>
      <td>ER G(n, p=1/2)</td>
      <td>100</td>
      <td></td>
      <td>60s</td>
      <td>QA</td>
      <td>D-Wave Advantage </td>
      <td>140</td>
      <td></td>
    </tr>
    <tr>
      <td>2022/08 {% cite van2022evaluating %}</td>
      <td></td>
      <td>x</td>
      <td>Max-Cut</td>
      <td>ER G(n, p=1/2)</td>
      <td>100</td>
      <td></td>
      <td>60s</td>
      <td>QA</td>
      <td>D-Wave hybrid solver</td>
      <td>12500</td>
      <td></td>
    </tr>
    <tr>
      <td>2022/07 {% cite coelho2022efficient %}</td>
      <td></td>
      <td>x</td>
      <td>Max-Cut</td>
      <td>ER G(n, p=1/2)</td>
      <td>500 for n=610 to for n=16</td>
      <td>1000</td>
      <td>/</td>
      <td>QCE</td>
      <td>Pasqal Pulser library</td>
      <td>18</td>
      <td></td>
    </tr>
    <tr>
      <td>2022/07 {% cite coelho2022efficient %}</td>
      <td></td>
      <td>x</td>
      <td>MIS</td>
      <td>UD G(n, p=1/2)</td>
      <td>500 for n=610 to for n=16</td>
      <td>1000</td>
      <td>/</td>
      <td>QCE</td>
      <td>Pasqal Pulser library</td>
      <td>18</td>
      <td></td>
    </tr>
    <tr>
      <td>2023/02 {% cite van2023q %}</td>
      <td></td>
      <td>x</td>
      <td>Max-clique</td>
      <td>ER G(n, p=1/2)</td>
      <td>100</td>
      <td></td>
      <td>60s</td>
      <td>TS</td>
      <td>i7-7600u</td>
      <td>4900</td>
      <td></td>
    </tr>
    <tr>
      <td>2023/02 {% cite van2023q %}</td>
      <td></td>
      <td>x</td>
      <td>Max-clique</td>
      <td>ER G(n, p=1/2)</td>
      <td>100</td>
      <td></td>
      <td>60s</td>
      <td>SA</td>
      <td>i7-7600u</td>
      <td>9100</td>
      <td></td>
    </tr>
    <tr>
      <td>2023/02 {% cite van2023q %}</td>
      <td></td>
      <td>x</td>
      <td>Max-clique</td>
      <td>ER G(n, p=1/2)</td>
      <td>100</td>
      <td></td>
      <td>60s</td>
      <td>QA</td>
      <td>D-Wave 2000Q</td>
      <td>70</td>
      <td></td>
    </tr>
    <tr>
      <td>2023/02 {% cite van2023q %}</td>
      <td></td>
      <td>x</td>
      <td>Max-clique</td>
      <td>ER G(n, p=1/2)</td>
      <td>100</td>
      <td></td>
      <td>60s</td>
      <td>QA</td>
      <td>D-Wave Advantage </td>
      <td>110</td>
      <td></td>
    </tr>
    <tr>
      <td>2023/02 {% cite van2023q %}</td>
      <td></td>
      <td>x</td>
      <td>Max-clique</td>
      <td>ER G(n, p=1/2)</td>
      <td>100</td>
      <td></td>
      <td>60s</td>
      <td>HS</td>
      <td>D-Wave hybrid solver</td>
      <td>12500</td>
      <td></td>
    </tr>
    <tr>
      <td>2023/02 {% cite van2023q %}</td>
      <td></td>
      <td>x</td>
      <td>Max-clique</td>
      <td>ER G(n, p=1/2)</td>
      <td>100</td>
      <td></td>
      <td>60s</td>
      <td>QC</td>
      <td>QuTech Starmon-5</td>
      <td>5</td>
      <td></td>
    </tr>
    <tr>
      <td>2023/02 {% cite van2023q %}</td>
      <td></td>
      <td>x</td>
      <td>Max-clique</td>
      <td>ER G(n, p=1/2)</td>
      <td>100</td>
      <td></td>
      <td>60s</td>
      <td>QC</td>
      <td>IBM Gadalupe</td>
      <td>5</td>
      <td></td>
    </tr>
    <tr>
      <td>2023/10 {% cite iqm2023qscore %}</td>
      <td>x</td>
      <td></td>
      <td>Max-Cut</td>
      <td>ER G(n, p=1/2)</td>
      <td>100</td>
      <td></td>
      <td>/</td>
      <td>QC</td>
      <td>IQM-20</td>
      <td>8</td>
      <td></td>
    </tr>
    <tr>
      <td>2024/02 {% cite ronkko2024premises %}</td>
      <td>x</td>
      <td>x</td>
      <td>Max-Cut</td>
      <td>ER G(n, p=1/2)</td>
      <td>100</td>
      <td>2048</td>
      <td>/</td>
      <td>QC</td>
      <td>IQM Spark</td>
      <td>6</td>
      <td></td>
    </tr>
    <tr>
      <td>2024/02 {% cite iqm2024qscore %}</td>
      <td>x</td>
      <td></td>
      <td>Max-Cut</td>
      <td>ER G(n, p=1/2)</td>
      <td>100</td>
      <td>2048</td>
      <td>/</td>
      <td>QC</td>
      <td>IQM-20</td>
      <td>11</td>
      <td></td>
    </tr>
    <tr>
      <td>2024 {% cite quandela2023qscore %}</td>
      <td>x</td>
      <td></td>
      <td>Max-Cut</td>
      <td>/</td>
      <td></td>
      <td></td>
      <td>/</td>
      <td>QC</td>
      <td>Quandela Altaïr</td>
      <td>6</td>
      <td>EM & AC</td>
    </tr>
  </tbody>
</table>