<table class="display my_table qbas-instance-table">
   <thead>
       <tr>
          <th>(\(n\), \(m\))</th>
          <th>#qubits</th>
          <th>\(N_{BAS(n, m)}\)</th>
          <th>\(n_\mathrm{shots}\)</th>
       </tr>
   </thead>
   <tbody>
    <tr>
      <td>(2, 2)</td>
      <td>4</td>
      <td>6</td>
      <td>15</td>
    </tr>
    <tr>
      <td>(2, 3)</td>
      <td>6</td>
      <td>10</td>
      <td>30</td>
    </tr>
    <tr>
      <td>(3, 3)</td>
      <td>9</td>
      <td>14</td>
      <td>46</td>
    </tr>
    <tr>
      <td>(4, 4)</td>
      <td>16</td>
      <td>30</td>
      <td>120</td>
    </tr>
    <tr>
      <td>(7,7)</td>
      <td>49</td>
      <td>254</td>
      <td>1554</td>
    </tr>
    <tr>
      <td>(8, 8)</td>
      <td>64</td>
      <td>510</td>
      <td>3475</td>
    </tr>
    <tr>
      <td>(10, 10)</td>
      <td>100</td>
      <td>2046</td>
      <td>16780</td>
    </tr>
  </tbody>
</table>