<table class="display my_table quantum-processes-table">
   <thead>
       <tr>
          <th>Name</th>
          <th>Formula</th>
          <th>Value if \(\rho = \widetilde{\rho}\)</th>
          <th>Bounds</th>
          <th>Is a metric ?</th>
          <th>Operational interpretation</th>
       </tr>
   </thead>
   <tbody>
    <tr>
      <td><div id="diamond-distance"></div>Diamond distance {% cite Kitaev1997 %} {% cite aharonov1998quantum %} <mark>Diamond distance</mark></td>
      <td>$$d_\mathrm{\diamond} \left(M, \widetilde{M} \right) = \frac{1}{2} \left\lVert M-\widetilde{M} \right\rVert_\mathrm{\diamond} $$$$ = max_\rho \left\lVert (M \otimes I)\rho - \left(\widetilde{M} \otimes I \right) \rho \right\rVert_1$$</td>
      <td>0</td>
      <td>$$[0, 1]$$</td>
      <td>no</td>
      <td>Achievable upper bound on the probability of distinguishing \(M\) from \(\widetilde{M}\)</td>
    </tr>
    <tr>
      <td><div id="jamiolkowski-trace-distance"></div>Jamiołkowski trace distance {% cite Jamiokowski1972 %} {% cite Gilchrist2005 %}<mark>Jamiołkowski trace distance</mark></td>
      <td>$$d_\mathrm{tr\_J}\left(M, \widetilde{M}\right) = \frac{1}{2} \left\lVert \left(M_A \otimes I_B - \widetilde{M}_A \otimes I_B \right) \ket{\psi_{AB}} \bra{\psi_{AB}} \right\lVert_1$$</td>
      <td>0</td>
      <td>$$[0, 1]$$</td>
      <td>yes</td>
      <td>Provide a lower bound on \(d_\mathrm{\diamond}\)</td>
    </tr>
    <tr>
      <td><div id="average-gate-fidelity"></div>Average gate fidelity {% cite nielsen2010quantum %}<mark>Average gate fidelity</mark></td>
      <td>$$F_\mathrm{avg} \left (M, \widetilde{M} \right) = \int F \left( M( \ket{\psi} \bra{\psi}), \widetilde{M}(\ket{\psi} \bra{\psi}) \right) d\psi$$</td>
      <td>0</td>
      <td>$$[0, 1]$$</td>
      <td>no</td>
      <td>Inherits quantum state fidelity properties<br/>Averaged over Haar measure<br/>Used in RB</td>
    </tr>
    <tr>
      <td><div id="average-error-rate"></div><div id="average-get-infidelity"></div>Average gate infidelity<br/><mark>Average gate infidelity</mark>aka. Average error rate*<mark>Average error rate</mark></td>
      <td>$$\epsilon_{r} \left(M, \widetilde{M} \right) = 1 - F_\mathrm{AVG} \left(M, \widetilde{M} \right)$$</td>
      <td>1</td>
      <td>$$[0, 1]$$</td>
      <td>no</td>
      <td>error rate</td>
    </tr>
    <tr>
      <td><div id="entanglement-fidelity"></div>Entanglement fidelity {% cite schumacher1996sending %}<br/>Aka. Process fidelity<mark>Entanglement fidelity</mark><mark>Process fidelity</mark></td>
      <td>$$F_e \left(M, \widetilde{M} \right) = F \left( (M \otimes I) ( \ket{\psi} \bra{\psi}), \left( \widetilde{M} \otimes I \right)(\ket{\psi} \bra{\psi}) \right)$$ </td>
      <td>0</td>
      <td>$$[0, 1]$$</td>
      <td>no</td>
      <td>Inherits quantum state fidelity properties</td>
    </tr>
    <tr>
      <td><div id="entanglement-infidelity"></div>Entanglement infidelity<mark>Entanglement infidelity</mark></td>
      <td>$$\epsilon_{e} \left(M, \widetilde{M} \right) = 1 – F_\mathrm{e} \left(M, \widetilde{M} \right)$$</td>
      <td>1</td>
      <td>$$[0, 1]$$</td>
      <td>no</td>
      <td>error rate</td>
    </tr>
    <tr>
      <td><div id="stabilized-minimum-fidelity"></div>Stabilized minimum fidelity {% cite Gilchrist2005 %}<mark>Stabilized minimum fidelity</mark></td>
      <td>$$F_\mathrm{stab} \left( M, \widetilde{M} \right) = \min_{\psi_{AB}} F \left( \left( M_A \otimes I_B \right) (\ket{\psi} \bra{\psi}, \left( \widetilde{M_A} \otimes I_B \right)(\ket{\psi} \bra{\psi}) \right)$$</td>
      <td>0</td>
      <td>$$[0, 1]$$</td>
      <td>no</td>
      <td>Inherits quantum state fidelity properties</td>
    </tr>
  </tbody>
</table>