<table class="display my_table QV-table">
   <thead>
       <tr>
          <th>Ref</th>
          <th>Company</th>
          <th>Year</th>
          <th>CE</th>
          <th>SP</th>
          <th>#Circ</th>
          <th>Shots</th>
          <th>CPU / QPU</th>
          <th>Technology</th>
          <th>Chip qubits</th>
          <th>\(\log_2(QV)\)</th>
          <th>Comment</th>
       </tr>
   </thead>
   <tbody>
    <tr>
      <td>{% cite Frisch2024 %} {% cite aqtIBEX %}</td>
      <td>AQT</td>
      <td>2024/08</td>
      <td>x</td>
      <td></td>
      <td>870</td>
      <td></td>
      <td>IBEX Q1</td>
      <td>Trapped-ions</td>
      <td>12</td>
      <td>7</td>
      <td>protocol {% cite baldwin2022re %}</td>
    </tr>
    <tr>
      <td>{% cite Frisch2024 %} {% cite aqtMarmot %}</td>
      <td>AQT</td>
      <td>2024/08</td>
      <td>x</td>
      <td></td>
      <td>870</td>
      <td></td>
      <td>MARMOT</td>
      <td>Trapped-ions</td>
      <td>20</td>
      <td>7</td>
      <td>protocol {% cite baldwin2022re %}</td>
    </tr>
    <tr>
      <td>{% cite sundaresan2020reducing %}</td>
      <td>IBM</td>
      <td>2020/07</td>
      <td>x</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td>Johannesburg</td>
      <td>Superconducting</td>
      <td>20</td>
      <td>5</td>
      <td>initial protocol {% cite cross2019validating %}</td>
    </tr>
    <tr>
      <td>{% cite jurcevic2021demonstration %}</td>
      <td>IBM</td>
      <td>2020/09</td>
      <td>x</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td>Montreal</td>
      <td>Superconducting</td>
      <td>27</td>
      <td>6</td>
      <td>initial protocol {% cite cross2019validating %}</td>
    </tr>
    <tr>
      <td>{% cite ibm2024qv %}</td>
      <td>IBM</td>
      <td>2022/12</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
      <td>sherbrooke (Eagle r3)</td>
      <td>Superconducting</td>
      <td>127</td>
      <td>7</td>
      <td>initial protocol {% cite cross2019validating %}</td>
    </tr>
    <tr>
      <td>{% cite ibm2024qv %}</td>
      <td>IBM</td>
      <td>2022/12</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
      <td>sherbrooke (Eagle r3)</td>
      <td>Superconducting</td>
      <td>127</td>
      <td>7</td>
      <td>initial protocol {% cite cross2019validating %}</td>
    </tr>
    <tr>
      <td>{% cite ibm2024qv %}</td>
      <td>IBM</td>
      <td>2022/12</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
      <td>brisbane (Eagle r3)</td>
      <td>Superconducting</td>
      <td>127</td>
      <td>7</td>
      <td>initial protocol {% cite cross2019validating %}</td>
    </tr>
    <tr>
      <td>{% cite ibm2024qv %}</td>
      <td>IBM</td>
      <td>2022/12</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
      <td>brisbane (Eagle r3)</td>
      <td>Superconducting</td>
      <td>127</td>
      <td>7</td>
      <td>initial protocol {% cite cross2019validating %}</td>
    </tr>
    <tr>
      <td>{% cite ibm2024qv %}</td>
      <td>IBM</td>
      <td>2022/12</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
      <td>osaka (Eagle r3)</td>
      <td>Superconducting</td>
      <td>127</td>
      <td>7</td>
      <td>initial protocol {% cite cross2019validating %}</td>
    </tr>
    <tr>
      <td>{% cite ibm2024qv %}</td>
      <td>IBM</td>
      <td>2022/12</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
      <td>osaka (Eagle r3)</td>
      <td>Superconducting</td>
      <td>127</td>
      <td>7</td>
      <td>initial protocol {% cite cross2019validating %}</td>
    </tr>
    <tr>
      <td>{% cite ibm2024qv %}</td>
      <td>IBM</td>
      <td>2022/12</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
      <td>kyoto (Eagle r3)</td>
      <td>Superconducting</td>
      <td>127</td>
      <td>7</td>
      <td>initial protocol {% cite cross2019validating %}</td>
    </tr>
    <tr>
      <td>{% cite ibm2024qv %}</td>
      <td>IBM</td>
      <td>2022/12</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
      <td>kyoto (Eagle r3)</td>
      <td>Superconducting</td>
      <td>127</td>
      <td>7</td>
      <td>initial protocol {% cite cross2019validating %}</td>
    </tr>
    <tr>
      <td>{% cite ibm2024qv %}</td>
      <td>IBM</td>
      <td>2022/12</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Quebec (Eagle r3)</td>
      <td>Superconducting</td>
      <td>127</td>
      <td>7</td>
      <td>initial protocol {% cite cross2019validating %}</td>
    </tr>
    <tr>
      <td>{% cite ibm2024qv %}</td>
      <td>IBM</td>
      <td>2022/12</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
      <td>kawasaki (Eagle r3)</td>
      <td>Superconducting</td>
      <td>127</td>
      <td>7</td>
      <td>initial protocol {% cite cross2019validating %}</td>
    </tr>
    <tr>
      <td>{% cite ibm2024qv %}</td>
      <td>IBM</td>
      <td>2022/12</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
      <td>rensselaer (Eagle r3)</td>
      <td>Superconducting</td>
      <td>127</td>
      <td>7</td>
      <td>initial protocol {% cite cross2019validating %}</td>
    </tr>
    <tr>
      <td>{% cite ibm2024qv %}</td>
      <td>IBM</td>
      <td>2022/12</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
      <td>kyiv (Eagle r3)</td>
      <td>Superconducting</td>
      <td>127</td>
      <td>7</td>
      <td>initial protocol {% cite cross2019validating %}</td>
    </tr>
    <tr>
      <td>{% cite ibm2024qv %}</td>
      <td>IBM</td>
      <td>2022/12</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
      <td>cleveland (Eagle r3)</td>
      <td>Superconducting</td>
      <td>127</td>
      <td>7</td>
      <td>initial protocol {% cite cross2019validating %}</td>
    </tr>
    <tr>
      <td>{% cite ibm2024qv %}</td>
      <td>IBM</td>
      <td>2022/12</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
      <td>nazca (Eagle r3)</td>
      <td>Superconducting</td>
      <td>127</td>
      <td>7</td>
      <td>initial protocol {% cite cross2019validating %}</td>
    </tr>
    <tr>
      <td>{% cite ibm2024qv %}</td>
      <td>IBM</td>
      <td>2022/12</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
      <td>cusco (Eagle r3)</td>
      <td>Superconducting</td>
      <td>127</td>
      <td>7</td>
      <td>initial protocol {% cite cross2019validating %}</td>
    </tr>
    <tr>
      <td>{% cite ibm2024qv %}</td>
      <td>IBM</td>
      <td>2023/12</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
      <td>torino (Heron r1)</td>
      <td>Superconducting</td>
      <td>133</td>
      <td>9</td>
      <td>initial protocol {% cite cross2019validating %}</td>
    </tr>
    <tr>
      <td>{% cite ibm2025qv %}</td>
      <td>IBM</td>
      <td>2025/09</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
      <td>pittsburgh (Heron r3)</td>
      <td>Superconducting</td>
      <td>156</td>
      <td>10</td>
      <td>protocol {% cite baldwin2022re %}</td>
    </tr>
    <tr>
      <td>{% cite pelofske2022quantum %}</td>
      <td>IonQ</td>
      <td>2022/03</td>
      <td></td>
      <td>x</td>
      <td>1000</td>
      <td>20</td>
      <td>Harmony</td>
      <td>Trapped-ions</td>
      <td>11</td>
      <td>3</td>
      <td>initial protocol {% cite cross2019validating %}</td>
    </tr>
    <tr>
      <td>{% cite pelofske2022quantum %}</td>
      <td>OQC</td>
      <td>2022/03</td>
      <td></td>
      <td>x</td>
      <td>1000</td>
      <td>20</td>
      <td>Lucy</td>
      <td>Superconducting</td>
      <td>8</td>
      <td>0</td>
      <td>initial protocol {% cite cross2019validating %}</td>
    </tr>
    <tr>
      <td>{% cite karalekas2020quantum %}</td>
      <td>Rigetti</td>
      <td>2020/01</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Aspen-4</td>
      <td>Superconducting</td>
      <td>16</td>
      <td>3</td>
      <td>initial protocol {% cite cross2019validating %}</td>
    </tr>
    <tr>
      <td>{% cite pelofske2022quantum %}</td>
      <td>Rigetti</td>
      <td>2022/03</td>
      <td></td>
      <td>x</td>
      <td>1000</td>
      <td>20</td>
      <td>Aspen-11</td>
      <td>Superconducting</td>
      <td>38</td>
      <td>2</td>
      <td>initial protocol {% cite cross2019validating %}</td>
    </tr>
    <tr>
      <td>{% cite pelofske2022quantum %}</td>
      <td>Rigetti</td>
      <td>2022/03</td>
      <td></td>
      <td>x</td>
      <td>1000</td>
      <td>20</td>
      <td>Aspen-M-1</td>
      <td>Superconducting</td>
      <td>80</td>
      <td>3</td>
      <td>initial protocol {% cite cross2019validating %}</td>
    </tr>
    <tr>
      <td>{% cite pelofske2022quantum %}</td>
      <td>Quantinuum</td>
      <td>2022/03</td>
      <td></td>
      <td>x</td>
      <td>1000</td>
      <td>20</td>
      <td>H1-2</td>
      <td>Trapped-ions</td>
      <td>12</td>
      <td>9</td>
      <td>initial protocol {% cite cross2019validating %}</td>
    </tr>
    <tr>
      <td>{% cite pino2021demonstration %} {% cite quantinuum2024qv %}</td>
      <td>Quantinuum</td>
      <td>2020/06</td>
      <td>x</td>
      <td>x</td>
      <td>400</td>
      <td>100</td>
      <td>H0</td>
      <td>Trapped-ions</td>
      <td></td>
      <td>6</td>
      <td>initial protocol {% cite cross2019validating %}</td>
    </tr>
    <tr>
      <td>{% cite honeywell2020qv %} {% cite quantinuum2024qv %}</td>
      <td>Quantinuum</td>
      <td>2020/09</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
      <td>H1-1</td>
      <td>Trapped-ions</td>
      <td></td>
      <td>7</td>
      <td>initial protocol {% cite cross2019validating %}</td>
    </tr>
    <tr>
      <td>{% cite quantinuum2024qv %}</td>
      <td>Quantinuum</td>
      <td>2021/03</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
      <td>H1-1</td>
      <td>Trapped-ions</td>
      <td></td>
      <td>9</td>
      <td>initial protocol {% cite cross2019validating %}</td>
    </tr>
    <tr>
      <td>{% cite quantinuum2024qv %}</td>
      <td>Quantinuum</td>
      <td>2021/07</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
      <td>H1-1</td>
      <td>Trapped-ions</td>
      <td></td>
      <td>10</td>
      <td>initial protocol {% cite cross2019validating %}</td>
    </tr>
    <tr>
      <td>{% cite quantinuum092021qv %} {% cite quantinuum2024qv %}</td>
      <td>Quantinuum</td>
      <td>2021/09</td>
      <td>x</td>
      <td></td>
      <td>2000</td>
      <td>5</td>
      <td>H1-2</td>
      <td>Trapped-ions</td>
      <td></td>
      <td>11</td>
      <td>initial protocol {% cite cross2019validating %}</td>
    </tr>
    <tr>
      <td>{% cite quantinuum042022qv %} {% cite quantinuum2024qv %}</td>
      <td>Quantinuum</td>
      <td>2022/04</td>
      <td>x</td>
      <td></td>
      <td>200</td>
      <td>100</td>
      <td>H1-2</td>
      <td>Trapped-ions</td>
      <td></td>
      <td>12</td>
      <td>initial protocol {% cite cross2019validating %}</td>
    </tr>
    <tr>
      <td>{% cite quantinuum092022qv %} {% cite quantinuum2024qv %}</td>
      <td>Quantinuum</td>
      <td>2022/09</td>
      <td>x</td>
      <td></td>
      <td>220</td>
      <td>90</td>
      <td>H1-1</td>
      <td>Trapped-ions</td>
      <td></td>
      <td>13</td>
      <td>protocol {% cite baldwin2022re %}</td>
    </tr>
    <tr>
      <td>{% cite quantinuum2024qv %}</td>
      <td>Quantinuum</td>
      <td>2021/01</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
      <td>H1-1</td>
      <td>Trapped-ions</td>
      <td></td>
      <td>14</td>
      <td>protocol {% cite baldwin2022re %}</td>
    </tr>
    <tr>
      <td>{% cite quantinuum022023qv %} {% cite quantinuum2024qv %}</td>
      <td>Quantinuum</td>
      <td>2021/01</td>
      <td>x</td>
      <td></td>
      <td>100</td>
      <td>200</td>
      <td>H1-1</td>
      <td>Trapped-ions</td>
      <td></td>
      <td>15</td>
      <td>protocol {% cite baldwin2022re %}</td>
    </tr>
    <tr>
      <td>{% cite quantinuum2024qv %}</td>
      <td>Quantinuum</td>
      <td>2023/04</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
      <td>H2-1</td>
      <td>Trapped-ions</td>
      <td></td>
      <td>15</td>
      <td>protocol {% cite baldwin2022re %}</td>
    </tr>
    <tr>
      <td>{% cite moses2023race %} {% cite quantinuum2024qv %}</td>
      <td>Quantinuum</td>
      <td>2023/04</td>
      <td>x</td>
      <td>x</td>
      <td>200</td>
      <td>100</td>
      <td>H2-1</td>
      <td>Trapped-ions</td>
      <td></td>
      <td>16</td>
      <td>protocol {% cite baldwin2022re %}</td>
    </tr>
    <tr>
      <td>{% cite quantinuum2024qv %}</td>
      <td>Quantinuum</td>
      <td>2023/03</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
      <td>H1-1</td>
      <td>Trapped-ions</td>
      <td></td>
      <td>16</td>
      <td>protocol {% cite baldwin2022re %}</td>
    </tr>
    <tr>
      <td>{% cite quantinuum042022qv %} {% cite quantinuum2024qv %}</td>
      <td>Quantinuum</td>
      <td>2023/05</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
      <td>H1-1</td>
      <td>Trapped-ions</td>
      <td></td>
      <td>17</td>
      <td>protocol {% cite baldwin2022re %}</td>
    </tr>
    <tr>
      <td>{% cite quantinuum042022qv %} {% cite quantinuum2024qv %}</td>
      <td>Quantinuum</td>
      <td>2023/05</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
      <td>H1-1</td>
      <td>Trapped-ions</td>
      <td></td>
      <td>18</td>
      <td>protocol {% cite baldwin2022re %}</td>
    </tr>
    <tr>
      <td>{% cite quantinuum042022qv %} {% cite quantinuum2024qv %}</td>
      <td>Quantinuum</td>
      <td>2023/06</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
      <td>H1-1</td>
      <td>Trapped-ions</td>
      <td></td>
      <td>19</td>
      <td>protocol {% cite baldwin2022re %}</td>
    </tr>
    <tr>
      <td>{% cite quantinuum2024qv %}</td>
      <td>Quantinuum</td>
      <td>2023/10</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
      <td>H1-2</td>
      <td>Trapped-ions</td>
      <td></td>
      <td>15</td>
      <td>protocol {% cite baldwin2022re %}</td>
    </tr>
    <tr>
      <td>{% cite quantinuum2024qv %}</td>
      <td>Quantinuum</td>
      <td>2024/04</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
      <td>H1-1</td>
      <td>Trapped-ions</td>
      <td></td>
      <td>20</td>
      <td>protocol {% cite baldwin2022re %}</td>
    </tr>
    <tr>
      <td>{% cite quantinuum2024qv %}</td>
      <td>Quantinuum</td>
      <td>2024/05</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
      <td>H2-1</td>
      <td>Trapped-ions</td>
      <td></td>
      <td>18</td>
      <td>protocol {% cite baldwin2022re %}</td>
    </tr>
    <tr>
      <td>{% cite quantinuum092024qv %}</td>
      <td>Quantinuum</td>
      <td>2024/08</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
      <td>H2-1</td>
      <td>Trapped-ions</td>
      <td></td>
      <td>21</td>
      <td>protocol {% cite baldwin2022re %}</td>
    </tr>
    <tr>
      <td>{% cite quantinuum052025qv %}</td>
      <td>Quantinuum</td>
      <td>2025/05</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
      <td>H2-1</td>
      <td>Trapped-ions</td>
      <td></td>
      <td>23</td>
      <td>protocol {% cite baldwin2022re %}</td>
    </tr>
    <tr>
      <td>{% cite quantinuum092025qv %}</td>
      <td>Quantinuum</td>
      <td>2025/09</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
      <td>H2-2</td>
      <td>Trapped-ions</td>
      <td>56</td>
      <td>25</td>
      <td>protocol {% cite baldwin2022re %}</td>
    </tr>
    <tr>
      <td>{% cite abdurakhimov2024technology %}</td>
      <td>IQM</td>
      <td>2024/08</td>
      <td>x</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td>Garnet</td>
      <td>Superconducting</td>
      <td>20</td>
      <td>5</td>
      <td>initial protocol {% cite cross2019validating %}</td>
    </tr>
    <tr>
      <td>{% cite van2023evaluating %}</td>
      <td>QuTech</td>
      <td>2023/08</td>
      <td></td>
      <td>x</td>
      <td>100</td>
      <td>100</td>
      <td>Starmon-5</td>
      <td>Superconducting</td>
      <td>5</td>
      <td>2</td>
      <td>initial protocol {% cite cross2019validating %}</td>
    </tr>
    <tr>
      <td>{% cite jaeger2024modeling %}</td>
      <td>University</td>
      <td>2024/12</td>
      <td>x</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
      <td>NV Center</td>
      <td>3</td>
      <td>3</td>
      <td>initial protocol {% cite cross2019validating %}<br/>QV simulated from noise model</td>
    </tr>
  </tbody>
</table>