<table class="display my_table roadmap-multi-header-2-table">
   <thead>
        <tr>
            <th>Company</th>
            <th>Date</th>
            <th colspan="4" data-dt-order="disable">2025</th>
            <th colspan="4" data-dt-order="disable">2026</th>
            <th colspan="4" data-dt-order="disable">2027</th>
            <th colspan="4" data-dt-order="disable">2028</th>
            <th colspan="4" data-dt-order="disable">2029</th>
            <th colspan="4" data-dt-order="disable">2030</th>
            <th colspan="4" data-dt-order="disable">2031</th>
            <th>Ref</th>
        </tr>        <tr>
            <th data-dt-order="disable"></th>
            <th data-dt-order="disable"></th>
            <th>\(n_{phys}\)</th>
            <th>\(\epsilon_{phys}\)</th>
            <th>\(n_{log}\)</th>
            <th>\(\epsilon_{log}\)</th>
            <th>\(n_{phys}\)</th>
            <th>\(\epsilon_{phys}\)</th>
            <th>\(n_{log}\)</th>
            <th>\(\epsilon_{log}\)</th>
            <th>\(n_{phys}\)</th>
            <th>\(\epsilon_{phys}\)</th>
            <th>\(n_{log}\)</th>
            <th>\(\epsilon_{log}\)</th>
            <th>\(n_{phys}\)</th>
            <th>\(\epsilon_{phys}\)</th>
            <th>\(n_{log}\)</th>
            <th>\(\epsilon_{log}\)</th>
            <th>\(n_{phys}\)</th>
            <th>\(\epsilon_{phys}\)</th>
            <th>\(n_{log}\)</th>
            <th>\(\epsilon_{log}\)</th>
            <th>\(n_{phys}\)</th>
            <th>\(\epsilon_{phys}\)</th>
            <th>\(n_{log}\)</th>
            <th>\(\epsilon_{log}\)</th>
            <th>\(n_{phys}\)</th>
            <th>\(\epsilon_{phys}\)</th>
            <th>\(n_{log}\)</th>
            <th>\(\epsilon_{log}\)</th>
            <th data-dt-order="disable"></th>
        </tr>   </thead>
   <tbody>
    <tr>
      <td>Quera<mark>Quera roadmap</mark></td>
      <td>2024/01</td>
      <td>3000</td>
      <td></td>
      <td>30</td>
      <td></td>
      <td>10000</td>
      <td></td>
      <td>100</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.quera.com/events/queras-quantum-roadmap" target="_blank">quera.com</a></td>
    </tr>
    <tr>
      <td>IonQ<mark>IonQ roadmap</mark></td>
      <td>2025/01</td>
      <td>64</td>
      <td>0.002</td>
      <td></td>
      <td></td>
      <td>256</td>
      <td>0.001</td>
      <td></td>
      <td></td>
      <td>384</td>
      <td>0.001</td>
      <td></td>
      <td></td>
      <td>1024</td>
      <td>0.001</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://ionq.com/blog/how-we-achieved-our-2024-performance-target-of-aq-35" target="_blank">https://ionq.com</a> <a href="https://ionq.com/resources/technical-roadmap-webinar-getting-ready-for-the-era-of-enterprise-grade" target="_blank">https://ionq.com/</a> </td>
    </tr>
    <tr>
      <td>Infleqtion<mark>Infleqtion roadmap</mark></td>
      <td>2025/03</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>8000</td>
      <td>0.001</td>
      <td>10</td>
      <td>0.0001</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>40000</td>
      <td>0.0005</td>
      <td>100</td>
      <td>1e-07</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.itforbusiness.fr/wp-content/uploads/2024/02/Infleqtion-objectif-2028-1024x506.jpg" target="_blank">https://www.itforbusiness.fr</a> <a href="https://infleqtion.com/wp-content/uploads/2025/03/infleqtion_roadmap-01.png" target="_blank">https://infleqtion.com</a> </td>
    </tr>
    <tr>
      <td>IQM<mark>IQM roadmap</mark></td>
      <td>2024/11</td>
      <td>150</td>
      <td>0.0008</td>
      <td>1</td>
      <td></td>
      <td>300</td>
      <td>0.0006</td>
      <td>4</td>
      <td></td>
      <td>1000</td>
      <td></td>
      <td>36</td>
      <td>1e-05</td>
      <td>5000</td>
      <td></td>
      <td>60</td>
      <td>1e-06</td>
      <td>5000</td>
      <td></td>
      <td>180</td>
      <td>1e-06</td>
      <td>40000</td>
      <td></td>
      <td>240</td>
      <td>1e-07</td>
      <td>100000</td>
      <td></td>
      <td>600</td>
      <td>1e-08</td>
      <td><a href="https://meetiqm.com/technology/roadmap/" target="_blank">meetiqm.com</a></td>
    </tr>
    <tr>
      <td>Pasqal<mark>Pasqal roadmap</mark></td>
      <td>2025</td>
      <td>200</td>
      <td>0.01</td>
      <td>1</td>
      <td></td>
      <td>200</td>
      <td>0.01</td>
      <td>1</td>
      <td></td>
      <td>2000</td>
      <td>0.005</td>
      <td>5</td>
      <td></td>
      <td>2000</td>
      <td>0.005</td>
      <td>5</td>
      <td></td>
      <td>10000</td>
      <td>0.001</td>
      <td>10</td>
      <td></td>
      <td>10000</td>
      <td>0.001</td>
      <td>10</td>
      <td></td>
      <td>20000</td>
      <td>0.0005</td>
      <td>100</td>
      <td></td>
      <td><a href="https://www.pasqal.com/technology/roadmap/" target="_blank">https://www.pasqal.com</a> <a href="https://www.youtube.com/watch?v=QB3p2i2bVzk&feature=youtu.be" target="_blank">https://www.youtube.com</a> </td>
    </tr>
    <tr>
      <td>Quandela<mark>Quandela roadmap</mark></td>
      <td>2024/10</td>
      <td>24</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>100</td>
      <td>0.0001</td>
      <td>10</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>50</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.quandela.com/wp-content/uploads/2024/10/Roadmap_brochure_update_V6_211024.pdf" target="_blank">quandela.com</a></td>
    </tr>
    <tr>
      <td>Quantinuum<mark>Quantinuum roadmap</mark></td>
      <td>2024/09</td>
      <td>96</td>
      <td>0.0005</td>
      <td>50</td>
      <td>0.0001</td>
      <td>96</td>
      <td>0.0005</td>
      <td>50</td>
      <td>0.0001</td>
      <td>192</td>
      <td>0.0002</td>
      <td>100</td>
      <td>1e-05</td>
      <td>192</td>
      <td>0.0002</td>
      <td>100</td>
      <td>1e-05</td>
      <td>1000</td>
      <td>0.0001</td>
      <td>100</td>
      <td>1e-10</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.quantinuum.com/press-releases/quantinuum-unveils-accelerated-roadmap-to-achieve-universal-fault-tolerant-quantum-computing-by-2030" target="_blank">quantinuum.com</a></td>
    </tr>
    <tr>
      <td>Rigetti<mark>Rigetti roadmap</mark></td>
      <td>2024/11</td>
      <td>36</td>
      <td>0.005</td>
      <td></td>
      <td></td>
      <td>100</td>
      <td>0.005</td>
      <td></td>
      <td></td>
      <td>336</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://investors.rigetti.com/news-releases/news-release-details/rigetti-computing-reports-third-quarter-2024-financial-results" target="_blank">investors.rigetti.com</a></td>
    </tr>
    <tr>
      <td>IBM<mark>IBM roadmap</mark></td>
      <td>2024</td>
      <td>1092</td>
      <td></td>
      <td></td>
      <td></td>
      <td>1092</td>
      <td></td>
      <td></td>
      <td></td>
      <td>1092</td>
      <td></td>
      <td></td>
      <td></td>
      <td>1092</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>200</td>
      <td></td>
      <td></td>
      <td></td>
      <td>200</td>
      <td></td>
      <td></td>
      <td></td>
      <td>200</td>
      <td></td>
      <td><a href="https://www.ibm.com/quantum/assets/IBM_Quantum_Developmen_&_Innovation_Roadmap_Explainer_2024-Update.pdf" target="_blank">ibm.com</a></td>
    </tr>
    <tr>
      <td>Fujitsu<mark>Fujitsu roadmap</mark></td>
      <td>2025/04</td>
      <td>256</td>
      <td></td>
      <td></td>
      <td></td>
      <td>1024</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.fujitsu.com/global/imagesgig5/20250422-01f.pdf" target="_blank">fujitsu.com</a></td>
    </tr>
    <tr>
      <td>Oxford Ionics<mark>Oxford ionics roadmap</mark></td>
      <td>2025/05</td>
      <td>16</td>
      <td>0.0001</td>
      <td></td>
      <td></td>
      <td>256</td>
      <td>0.0001</td>
      <td>16</td>
      <td>1e-08</td>
      <td>10000</td>
      <td>0.0001</td>
      <td>700</td>
      <td>1e-08</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="https://www.oxionics.com/blog-post/unveiling-oxford-ionics%E2%80%99-development-roadmap-to-scalable-fault-tolerant-quantum-computing" target="_blank">oxionics.com</a></td>
    </tr>
  </tbody>
</table>