<table class="display my_table supremacy-table">
   <thead>
       <tr>
          <th>Date & Ref.</th>
          <th>Pb.</th>
          <th>n</th>
          <th>m</th>
          <th>Group - Chip</th>
          <th>Type</th>
          <th>Challenged Ref.</th>
          <th>Weakly Refuted Ref.</th>
          <th>Refuted Ref.</th>
       </tr>
   </thead>
   <tbody>
    <tr>
      <td>2019/10 {% cite Arute2019 %} </td>
      <td>RCS</td>
      <td>53</td>
      <td>20</td>
      <td>Google - Sycamore</td>
      <td>Superconducting</td>
      <td>{% cite pednault2019leveraging gray2021hyper zhou2020limits huang2020classical pan2021simulating liu2021closing liu2021redefining %}</td>
      <td>{% cite pan2022solving kalachev2021classical %}</td>
      <td>{% cite zhao2024leapfrogging %}</td>
    </tr>
    <tr>
      <td>2020/03 {% cite zhong2020quantum %} </td>
      <td>GBS</td>
      <td>50</td>
      <td>100</td>
      <td>USTC - Jiuzhang</td>
      <td>Photonic</td>
      <td></td>
      <td>{% cite oh2024classical %} </td>
      <td></td>
    </tr>
    <tr>
      <td>2021/06 {% cite wu2021strong %} </td>
      <td>RCS</td>
      <td>56</td>
      <td>20</td>
      <td>USTC - Zuchongzhi</td>
      <td>Superconducting</td>
      <td>{% cite kalachev2021classical morvan2024phase %} </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>2021/06 {% cite zhong2021phase %} </td>
      <td>GBS</td>
      <td>50</td>
      <td>144</td>
      <td>USTC - Jiuzhang 2.0</td>
      <td>Photonic</td>
      <td></td>
      <td>{% cite oh2024classical %} </td>
      <td></td>
    </tr>
    <tr>
      <td>2021/09 {% cite zhu2022quantum %} </td>
      <td>RCS</td>
      <td>60</td>
      <td>24</td>
      <td>USTC - Zuchongzhi</td>
      <td>Superconducting</td>
      <td>{% cite morvan2024phase liu2021redefining %} </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>2022/06 {% cite madsen2022quantum %} </td>
      <td>GBS</td>
      <td>216</td>
      <td>216</td>
      <td>Xanadu – Borealis</td>
      <td>Photonic</td>
      <td></td>
      <td>{% cite oh2024classical %} </td>
      <td></td>
    </tr>
    <tr>
      <td>2023/04 {% cite morvan2024phase %} </td>
      <td>RCS</td>
      <td>67</td>
      <td>32</td>
      <td>Google - Sycamore</td>
      <td>Superconducting</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>2023/04 {% cite morvan2024phase %} </td>
      <td>RCS</td>
      <td>70</td>
      <td>24</td>
      <td>Google - Sycamore</td>
      <td>Superconducting</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>2023/04 {% cite deng2023gaussian %} </td>
      <td>GBS</td>
      <td>50</td>
      <td>144</td>
      <td>USTC - Jiuzhang 3.0</td>
      <td>Photonic</td>
      <td></td>
      <td>{% cite oh2024classical %} </td>
      <td></td>
    </tr>
    <tr>
      <td>2023/06 {% cite kim2023evidence %} </td>
      <td>Qsim</td>
      <td>127</td>
      <td>60</td>
      <td>IBM - Kyiv</td>
      <td>Superconducting</td>
      <td>{% cite kechedzhi2024effective %} </td>
      <td></td>
      <td>{% cite tindall2024efficient torre2023dissipative liao2023simulation anand2023classical beguvsic2024fast beguvsic2023fast beguvsic2024fast %} </td>
    </tr>
    <tr>
      <td>2024/03 {% cite king2024computational %} </td>
      <td>Qsim</td>
      <td>567</td>
      <td>-</td>
      <td>D-Wave - ADV1/2</td>
      <td>Superconducting Annealing</td>
      <td>{% cite tindall2025dynamics mauron2025challenging %} </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>2024/12 {% cite gao2025establishing %}</td>
      <td>RCS</td>
      <td>83</td>
      <td>32</td>
      <td>USTC - Zuchongzhi 3.0</td>
      <td>Superconducting</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>